@charset "UTF-8";
/*VARIABLES*/
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@100;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
.padd-xsmall {
  padding: 0.75rem; }

.padd-small {
  padding: 1rem; }

.padd-regular {
  padding: 1.5rem; }

.padd-medium {
  padding: 2rem; }

.padd-large {
  padding: 5rem; }

.padd-xlarge {
  padding: 12rem; }

/*GLOBALES*/
/* Imports */
/* Normalize */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  scroll-behavior: smooth; }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding-left: 0; }

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 700; }

h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2; }

/* Helpers */
.container {
  max-width: 1080px;
  margin: 0 auto; }

/*PARTIALS*/
/* Header and navbar */
.header {
  top: 0;
  position: sticky;
  z-index: 4;
  background-color: #fff; }
  .header .navbar {
    right: 0;
    left: 0; }
    .header .navbar .nav-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
      width: 90%;
      margin: 0 auto; }
      .header .navbar .nav-container .logo {
        width: 130px;
        height: 60px; }
      .header .navbar .nav-container .nav-label,
      .header .navbar .nav-container .nav-input {
        display: none; }
      .header .navbar .nav-container .nav-menu {
        flex-basis: 35%;
        font-weight: 500; }
        .header .navbar .nav-container .nav-menu .menu {
          display: grid;
          grid-auto-flow: column;
          align-items: center; }
          .header .navbar .nav-container .nav-menu .menu .item:hover .sub-menu {
            display: block; }
          .header .navbar .nav-container .nav-menu .menu .link, .header .navbar .nav-container .nav-menu .menu .sub-menu a:hover {
            font-size: 1.6em; }
          .header .navbar .nav-container .nav-menu .menu .link2:hover {
            color: #ff1a6d;
            transition: ease-in-out 0.3s; }
          .header .navbar .nav-container .nav-menu .menu .link3:hover {
            color: #ff1a6d;
            transition: ease-in-out 0.3s; }
          .header .navbar .nav-container .nav-menu .menu .link4:hover {
            color: #6300ff;
            transition: ease-in-out 0.3s; }
          .header .navbar .nav-container .nav-menu .menu .link5:hover {
            color: #fefe00;
            transition: ease-in-out 0.3s; }
          .header .navbar .nav-container .nav-menu .menu .sub-menu {
            display: none;
            position: absolute;
            background-color: #fff;
            padding: 20px; }
            .header .navbar .nav-container .nav-menu .menu .sub-menu a:hover {
              color: #baafe8; }
            .header .navbar .nav-container .nav-menu .menu .sub-menu a {
              font-size: 1.3em; }
            .header .navbar .nav-container .nav-menu .menu .sub-menu li {
              padding-bottom: 8px; }
          .header .navbar .nav-container .nav-menu .menu div {
            padding-top: 9px;
            padding-right: 10px;
            padding-bottom: 12px;
            padding-left: 10px; }

/* Media */
@media screen and (max-width: 780px) {
  .header .navbar .nav-container .nav-label {
    display: block;
    cursor: pointer; }
  .header .navbar .nav-container .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center); }
  .nav-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-image: linear-gradient(to top, #f9ffac, #ffda8e, #ffb19b, #ff90c8, #e78dff);
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; } }

/* Footer */
.footer {
  padding-top: 120px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 80px;
  background-color: #fefe00; }
  .footer h4 {
    font-weight: 700;
    font-size: 1.7em;
    padding-bottom: 20px; }
  .footer p {
    font-size: 1.4em;
    display: inline-block; }
  .footer .red-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0; }
    .footer .red-social a {
      flex-basis: 3%; }
    .footer .red-social img {
      height: 25px;
      width: 25px; }
  .footer .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px; }
    .footer .div-footer div {
      width: 450px; }
  .footer .copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 120px; }

/* Media */
@media screen and (max-width: 1200px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (max-width: 900px) {
  .footer p {
    font-size: 1.2em; }
  .footer .div-footer div {
    width: 350px; } }

@media screen and (max-width: 660px) {
  .footer .footer-texto {
    padding-left: 20px; } }

@media screen and (max-width: 540px) {
  .footer .footer-texto {
    padding-left: 20px; } }

/*VIEWS*/
/* Banner */
.section-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 100px;
  gap: 30px; }
  .section-banner h1 {
    font-size: 6em;
    font-weight: 900; }
  .section-banner h2 {
    font-size: 3em;
    width: 630px;
    font-weight: 600; }

.box {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  text-align: center; }
  .box video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; }

/* Main */
/* Sección nosotros */
.principal {
  background-color: #fff;
  height: 700px;
  padding-top: 200px; }
  .principal .seccion-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90px; }
    .principal .seccion-principal .div1 {
      width: 500px; }
      .principal .seccion-principal .div1 ul {
        padding: 10px 0; }
      .principal .seccion-principal .div1 h2 {
        color: #ff1a6d;
        font-size: 3em;
        font-weight: 600; }
      .principal .seccion-principal .div1 p {
        font-size: 1.5em;
        padding: 20px 0px; }
      .principal .seccion-principal .div1 li {
        font-size: 1.5em;
        font-weight: 500;
        padding: 8px;
        display: inline; }
        .principal .seccion-principal .div1 li a:hover {
          color: #ff1a6d;
          transition: ease-in-out 0.3s; }
      .principal .seccion-principal .div1 .boton {
        position: absolute;
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 35px; }
        .principal .seccion-principal .div1 .boton:hover svg rect {
          stroke-dasharray: 40, 300;
          stroke-dashoffset: 167;
          stroke: #ff1a6d; }
        .principal .seccion-principal .div1 .boton:hover {
          text-transform: uppercase;
          font-weight: 600;
          background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent; }
        .principal .seccion-principal .div1 .boton svg,
        .principal .seccion-principal .div1 .boton svg rect {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          fill: transparent; }
        .principal .seccion-principal .div1 .boton rect {
          stroke: #6300ff;
          stroke-width: 4;
          transition: 1s;
          stroke-dasharray: 300, 300;
          stroke-dashoffset: 0; }
    .principal .seccion-principal .div2 .img-nosotros {
      width: 350px;
      height: 350px; }

/* Sección equipo */
.seccion-equipo {
  background-color: #fff;
  height: 650px; }
  .seccion-equipo .segunda-seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90px; }
    .seccion-equipo .segunda-seccion .div-equipo {
      width: 565px;
      padding: 20px 0; }
      .seccion-equipo .segunda-seccion .div-equipo h2 {
        color: #6300ff;
        font-weight: 600;
        font-size: 3em;
        padding: 15px 0; }
      .seccion-equipo .segunda-seccion .div-equipo p {
        font-size: 1.5em; }
      .seccion-equipo .segunda-seccion .div-equipo .botones-equipo {
        display: flex;
        flex-direction: row;
        gap: 130px;
        padding-top: 30px; }
        .seccion-equipo .segunda-seccion .div-equipo .botones-equipo li {
          padding-top: 15px;
          padding-right: 0px;
          padding-bottom: 5px;
          padding-left: 0px; }
        .seccion-equipo .segunda-seccion .div-equipo .botones-equipo li a {
          font-size: 1.5em;
          font-weight: 500; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo li a a:hover {
            color: #6300ff;
            transition: ease-in-out 0.3s; }
        .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton2 {
          position: absolute;
          width: 110px;
          height: 45px;
          text-align: center;
          line-height: 35px; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton2:hover {
            text-transform: uppercase;
            font-weight: 600;
            background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton2:hover svg rect {
            stroke-dasharray: 40, 300;
            stroke-dashoffset: 150;
            stroke: #fefe00; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton2 svg,
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton2 svg rect {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill: transparent; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton2 rect {
            stroke: #ff1a6d;
            stroke-width: 4;
            transition: 1s;
            stroke-dasharray: 310, 310;
            stroke-dashoffset: 0; }
        .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton3 {
          position: absolute;
          width: 150px;
          height: 45px;
          text-align: center;
          line-height: 35px; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton3:hover svg rect {
            stroke-dasharray: 50, 300;
            stroke-dashoffset: 107;
            stroke: #6300ff; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton3:hover {
            text-transform: uppercase;
            font-weight: 600;
            background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton3 svg,
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton3 svg rect {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill: transparent; }
          .seccion-equipo .segunda-seccion .div-equipo .botones-equipo .boton3 svg rect {
            stroke: #fefe00;
            stroke-width: 4;
            transition: 1s;
            stroke-dasharray: 390, 390;
            stroke-dashoffset: 0; }
    .seccion-equipo .segunda-seccion .div-equipo2 .img-equipo {
      width: 400px;
      height: 400px; }

/* Sección productos */
.productos {
  background-color: #fff;
  height: 700px; }
  .productos .tercera-seccion {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90px; }
    .productos .tercera-seccion .div-productos h2 {
      font-size: 3em;
      padding: 15px 0;
      color: #ff1a6d;
      font-weight: 600; }
    .productos .tercera-seccion .div-productos p {
      font-size: 1.5em;
      padding: 20px 0px; }
    .productos .tercera-seccion .div-productos .boton4 {
      position: absolute;
      width: 100px;
      height: 40px;
      text-align: center;
      line-height: 35px;
      font-size: 1.5em; }
      .productos .tercera-seccion .div-productos .boton4:hover svg rect {
        stroke-dasharray: 40, 300;
        stroke-dashoffset: 167;
        stroke: #ff1a6d; }
      .productos .tercera-seccion .div-productos .boton4:hover {
        text-transform: uppercase;
        font-weight: 600;
        background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; }
      .productos .tercera-seccion .div-productos .boton4 svg,
      .productos .tercera-seccion .div-productos .boton4 svg rect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: transparent; }
      .productos .tercera-seccion .div-productos .boton4 rect {
        stroke: #6300ff;
        stroke-width: 4;
        transition: 1s;
        stroke-dasharray: 300, 300;
        stroke-dashoffset: 0; }
    .productos .tercera-seccion .div-productos2 img {
      width: 400px;
      height: 400px; }
    .productos .tercera-seccion .div-productos2 ul li {
      font-size: 1.5em;
      font-weight: 500;
      padding-left: 50px; }
      .productos .tercera-seccion .div-productos2 ul li a:hover {
        color: #fefe00;
        transition: ease-in-out 0.3s; }

/* Sección contactos */
.contacto {
  height: 750px; }
  .contacto .seccion-contacto {
    max-width: 100%;
    padding: 90px 0; }
    .contacto .seccion-contacto .div-contacto h2 {
      color: #ff1a6d;
      font-size: 4em;
      text-align: center;
      font-weight: 600; }
    .contacto .seccion-contacto .div-contacto h3 {
      font-size: 2.5em;
      text-align: center;
      padding-bottom: 90px; }
    .contacto .seccion-contacto .div-contacto p {
      font-size: 2em;
      text-align: center; }
    .contacto .seccion-contacto .div-contacto .contact-redes {
      padding-top: 90px;
      display: flex;
      flex-direction: row;
      gap: 100px;
      justify-content: center; }
      .contacto .seccion-contacto .div-contacto .contact-redes p {
        font-size: 1.5em;
        margin-bottom: 100px; }
    .contacto .seccion-contacto .div-contacto2 {
      padding: 80px 0; }

/* Media */
@media screen and (max-width: 1090px) {
  .container {
    max-width: 904px;
    margin: 0 auto; } }

@media screen and (max-width: 800px) {
  .section-banner {
    gap: 30px; }
    .section-banner h1 {
      font-size: 5.5em;
      font-weight: 900; }
    .section-banner h2 {
      font-size: 2.5em;
      width: 630px;
      font-weight: 200; } }

@media screen and (max-width: 780px) {
  .container {
    max-width: 660px;
    margin: 0 auto; }
  .principal .seccion-principal {
    gap: 25px; }
    .principal .seccion-principal .div1 p {
      font-size: 1.3em; }
    .principal .seccion-principal .div2 .img-nosotros {
      width: 250px;
      height: 250px; }
  .seccion-equipo .segunda-seccion {
    gap: 25px; }
    .seccion-equipo .segunda-seccion .div-equipo p {
      font-size: 1.3em; }
    .seccion-equipo .segunda-seccion .div-equipo2 .img-equipo {
      width: 250px;
      height: 250px; }
  .productos .tercera-seccion {
    gap: 25px; }
    .productos .tercera-seccion .div-productos p {
      font-size: 1.3em; }
    .productos .tercera-seccion .div-productos2 img {
      width: 250px;
      height: 250px; }
  .contacto .seccion-contacto .div-contacto .contact-redes p {
    font-size: 1.2em;
    margin-bottom: 100px; } }

@media screen and (max-width: 660px) {
  .container {
    max-width: 540px;
    margin: 0 auto; }
  .principal {
    padding-top: 120px;
    height: 600px; }
    .principal .seccion-principal .div1 h2 {
      text-align: center;
      font-size: 2.8em; }
    .principal .seccion-principal .div1 p {
      font-size: 1.4em; }
    .principal .seccion-principal .div2 .img-nosotros {
      display: none; }
  .seccion-equipo .segunda-seccion .div-equipo h2 {
    text-align: center; }
  .seccion-equipo .segunda-seccion .div-equipo p {
    font-size: 1.4em; }
  .seccion-equipo .segunda-seccion .div-equipo .botones-equipo {
    display: flex;
    flex-direction: row;
    gap: 260px;
    padding-top: 30px; }
  .seccion-equipo .segunda-seccion .div-equipo2 .img-equipo {
    display: none; }
  .productos {
    height: 500px; }
    .productos .tercera-seccion .div-productos h2 {
      text-align: center; }
    .productos .tercera-seccion .div-productos p {
      font-size: 1.4em; }
    .productos .tercera-seccion .div-productos2 img {
      display: none; }
  .contacto .seccion-contacto .div-contacto .contact-redes {
    gap: 30px; }
    .contacto .seccion-contacto .div-contacto .contact-redes p {
      font-size: 1.3em;
      margin-bottom: 100px; }
  .section-banner h1 {
    font-size: 5em;
    font-weight: 900; }
  .section-banner h2 {
    font-size: 2em;
    width: 400px;
    font-weight: 200; } }

@media screen and (max-width: 540px) {
  .container {
    max-width: 420px;
    margin: 0 auto; }
  .principal .seccion-principal .div1 h2 {
    width: 350px; }
  .seccion-equipo .segunda-seccion .div-equipo p {
    padding: 20px 0; }
  .seccion-equipo .segunda-seccion .div-equipo .botones-equipo {
    display: flex;
    flex-direction: row;
    gap: 150px;
    padding-top: 30px; }
  .productos {
    height: 500px; }
    .productos .tercera-seccion {
      width: 405px; }
      .productos .tercera-seccion .div-productos h2 {
        text-align: center; }
  .contacto {
    height: 850px; }
    .contacto .seccion-contacto .div-contacto .contact-redes {
      flex-direction: column;
      align-items: center;
      padding-top: 60px;
      margin: auto; }
      .contacto .seccion-contacto .div-contacto .contact-redes p {
        font-size: 1.4em; } }

@media screen and (max-width: 440px) {
  .seccion-equipo .segunda-seccion .div-equipo .botones-equipo {
    gap: 150px;
    padding-top: 10px; }
  .principal {
    padding-top: 100px;
    height: 500px; }
    .principal .seccion-principal .div1 h2 {
      font-size: 2em; }
  .seccion-equipo .segunda-seccion .div-equipo h2 {
    font-size: 2em; }
  .seccion-equipo .segunda-seccion .div-equipo p {
    width: 300px; }
  .productos .tercera-seccion {
    width: 200px;
    margin: 0 auto; }
    .productos .tercera-seccion .div-productos h2 {
      font-size: 2em;
      width: 300px; }
  .section-banner h2 {
    font-size: 2em;
    width: 270px;
    font-weight: 200; } }

@media screen and (max-width: 360px) {
  .container {
    max-width: 300px;
    margin: 0 auto; }
  .principal .seccion-principal {
    justify-content: center; }
    .principal .seccion-principal .div1 ul {
      text-align: center;
      width: 200px; }
    .principal .seccion-principal .div1 p {
      padding-left: 40px;
      padding-right: 40px; }
  .seccion-equipo .segunda-seccion {
    justify-content: center; }
    .seccion-equipo .segunda-seccion .div-equipo p {
      padding-left: 40px;
      padding-right: 40px; }
    .seccion-equipo .segunda-seccion .div-equipo .botones-equipo {
      text-align: center;
      width: 200px;
      margin-left: 13px; }
      .seccion-equipo .segunda-seccion .div-equipo .botones-equipo a {
        font-size: 1.3em; }
  .productos .tercera-seccion {
    justify-content: center; }
    .productos .tercera-seccion .div-productos p {
      padding-left: 40px;
      padding-right: 40px; }
    .productos .tercera-seccion .div-productos ul {
      width: 200px;
      text-align: center; }
  .section-banner h1 {
    font-size: 4.5em;
    width: 300px;
    font-weight: 900; } }

/* ----------PÁGINA "TRABAJOS-WORKS"---------- */
.container-works {
  background-image: url(../../assets/image/FondoTrabajos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.grid-container {
  padding-top: 150px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 20px;
  grid-auto-flow: dense; }
  .grid-container .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: #ff1a6d;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .grid-container .grid-item:hover {
      filter: opacity(0.9);
      transform: scale(1.04); }
  .grid-container .ancho {
    grid-column: span 2; }
  .grid-container .alto {
    grid-row: span 2; }
  .grid-container .div-img1 {
    background-image: url(../../assets/image/florero1.jpg); }
  .grid-container .div-img2 {
    background-image: url(../../assets/image/audifonos.jpg); }
  .grid-container .div-img3 {
    background-image: url(../../assets/image/Adorno.jpg); }
  .grid-container .div-img4 {
    background-image: url(../../assets/image//cargador.jpg); }
  .grid-container .div-img5 {
    background-image: url(../../assets/image/celularfunda.jpg); }
  .grid-container .div-img6 {
    background-image: url(../../assets/image/florero2.jpg); }
  .grid-container .div-img7 {
    background-image: url(../../assets/image/katana.jpg); }
  .grid-container .div-img8 {
    background-image: url(../../assets/image/llaveroperro.jpg); }
  .grid-container .div-img9 {
    background-image: url(../../assets/image/llaveros.jpg); }
  .grid-container .div-img10 {
    background-image: url(../../assets/image/mates.jpg); }
  .grid-container .div-img11 {
    background-image: url(../../assets/image/anillo.jpg); }
  .grid-container .div-img12 {
    background-image: url(../../assets/image/mascara.jpg); }
  .grid-container .div-img13 {
    background-image: url(../../assets/image/play.jpg); }
  .grid-container .div-img14 {
    background-image: url(../../assets/image/repuesto.jpg); }
  .grid-container .div-img15 {
    background-image: url(../../assets/image/maceta2.png); }
  .grid-container .div-img16 {
    background-image: url(../../assets/image/decoracion.jpg); }
  .grid-container .div-img17 {
    background-image: url(../../assets/image/maceta1.jpg); }

/* ----------PÁGINA "Conocenos/know-us"---------- */
.main-know {
  height: 1000px;
  max-width: 1080px;
  margin: 0 auto; }
  .main-know .texto-know {
    width: 600px;
    transform: translate(20%, 400%);
    font-size: 3em;
    font-weight: 800; }
  .main-know .seccion-conocenos {
    display: flex;
    justify-content: flex-end; }
    .main-know .seccion-conocenos .Victor {
      transform: translate(80%, 5%);
      position: relative;
      cursor: pointer; }
      .main-know .seccion-conocenos .Victor:hover > .capa {
        opacity: 1;
        visibility: visible; }
        .main-know .seccion-conocenos .Victor:hover > .capa h3 {
          margin-top: 90px;
          margin-bottom: 15px; }
      .main-know .seccion-conocenos .Victor img {
        width: 300px;
        transition: all 500ms ease-in-out;
        border-radius: 400px; }
      .main-know .seccion-conocenos .Victor .capa {
        border-radius: 350px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(255, 225, 0, 0.764);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center; }
        .main-know .seccion-conocenos .Victor .capa h3 {
          font-weight: 800;
          margin-bottom: 120px;
          transition: all 500ms ease-out;
          margin-top: 30px;
          font-size: 2em; }
        .main-know .seccion-conocenos .Victor .capa p {
          width: 100%;
          max-width: 200px;
          margin: auto;
          padding-top: 10px;
          font-weight: 500;
          font-size: 1.5em;
          line-height: 1.5; }
    .main-know .seccion-conocenos .Goyo {
      transform: translate(-120%, 88%);
      position: relative;
      cursor: pointer; }
      .main-know .seccion-conocenos .Goyo:hover > .capa {
        opacity: 1;
        visibility: visible; }
        .main-know .seccion-conocenos .Goyo:hover > .capa h3 {
          margin-top: 90px;
          margin-bottom: 15px; }
      .main-know .seccion-conocenos .Goyo img {
        width: 300px;
        transition: all 500ms ease-in-out;
        border-radius: 400px; }
      .main-know .seccion-conocenos .Goyo .capa {
        border-radius: 350px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(255, 88, 224, 0.764);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center; }
        .main-know .seccion-conocenos .Goyo .capa h3 {
          color: #fff;
          font-weight: 800;
          margin-bottom: 120px;
          transition: all 500ms ease-out;
          margin-top: 30px;
          font-size: 2em; }
        .main-know .seccion-conocenos .Goyo .capa p {
          padding-top: 10px;
          color: #fff;
          font-weight: 400;
          width: 100%;
          max-width: 200px;
          margin: auto;
          padding-top: 10px;
          font-weight: 500;
          font-size: 1.5em;
          line-height: 1.5; }

/* Media */
@media screen and (max-width: 1024px) {
  .main-know {
    max-width: 904px;
    margin: 0 auto;
    height: 1360px; }
    .main-know .texto-know {
      width: 600px;
      transform: translate(0, 400%);
      font-size: 3em;
      font-weight: 800;
      text-align: center;
      margin: auto; }
    .main-know .seccion-conocenos {
      display: flex;
      justify-content: center;
      margin: auto;
      gap: 80px; }
      .main-know .seccion-conocenos .Victor {
        transform: translate(0, 140%); }
      .main-know .seccion-conocenos .Goyo {
        transform: translate(0, 140%); } }

@media screen and (max-width: 751px) {
  .main-know .seccion-conocenos {
    gap: 40px; } }

@media screen and (max-width: 640px) {
  .main-know .texto-know {
    width: 400px;
    font-size: 2.5em;
    transform: translate(0%, 300%); }
  .main-know .seccion-conocenos {
    gap: 10px; }
    .main-know .seccion-conocenos .Victor {
      transform: translate(0, 170%); }
      .main-know .seccion-conocenos .Victor img {
        width: 250px; }
    .main-know .seccion-conocenos .Goyo {
      transform: translate(0, 170%); }
      .main-know .seccion-conocenos .Goyo img {
        width: 250px; } }

@media screen and (max-width: 540px) {
  .main-know .texto-know {
    transform: translate(0%, 200%); }
  .main-know .seccion-conocenos {
    gap: 10px; }
    .main-know .seccion-conocenos .Victor {
      transform: translate(0, 120%); }
      .main-know .seccion-conocenos .Victor:hover > .capa h3 {
        margin-top: 30px; }
      .main-know .seccion-conocenos .Victor img {
        width: 220px; }
      .main-know .seccion-conocenos .Victor .capa p {
        max-width: 155px;
        font-size: 1.3em;
        line-height: 1.5; }
    .main-know .seccion-conocenos .Goyo {
      transform: translate(0, 170%); }
      .main-know .seccion-conocenos .Goyo:hover > .capa h3 {
        margin-top: 50px; }
      .main-know .seccion-conocenos .Goyo img {
        width: 220px; }
      .main-know .seccion-conocenos .Goyo .capa p {
        max-width: 155px;
        font-size: 1.3em;
        line-height: 1.5; } }

@media screen and (max-width: 451px) {
  .main-know .seccion-conocenos {
    gap: 10px; }
    .main-know .seccion-conocenos .Victor {
      transform: translate(50%, 120%); }
      .main-know .seccion-conocenos .Victor:hover > .capa h3 {
        margin-top: 30px; }
      .main-know .seccion-conocenos .Victor img {
        width: 220px; }
      .main-know .seccion-conocenos .Victor .capa p {
        max-width: 155px;
        font-size: 1.3em;
        line-height: 1.5; }
    .main-know .seccion-conocenos .Goyo {
      transform: translate(-50%, 230%); }
      .main-know .seccion-conocenos .Goyo:hover > .capa h3 {
        margin-top: 50px; }
      .main-know .seccion-conocenos .Goyo img {
        width: 220px; }
      .main-know .seccion-conocenos .Goyo .capa p {
        max-width: 155px;
        font-size: 1.3em;
        line-height: 1.5; } }

@media screen and (max-width: 400px) {
  .main-know .texto-know {
    width: 300px;
    transform: translate(0, 160%);
    font-size: 2.5em; } }

/* ----------PÁGINA "Nuestras Herramientas/our-tools"---------- */
.container {
  overflow: hidden; }
  .container .tools-1 {
    width: 100%;
    height: 900px;
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 90px;
    font-family: 'Poppins', sans-serif; }
    .container .tools-1 .aerografo h3 {
      font-size: 9em;
      font-weight: 800;
      color: #fefe00; }
    .container .tools-1 .aerografo p {
      font-size: 3.5em;
      font-weight: 500;
      letter-spacing: 25px;
      padding-left: 13px; }
    .container .tools-1 .aerografo .accordion {
      width: 540px;
      padding-top: 30px; }
      .container .tools-1 .aerografo .accordion .accordion-button {
        font-size: 20px;
        font-weight: 500;
        color: #000000; }
      .container .tools-1 .aerografo .accordion .accordion-body {
        font-size: 15px; }
    .container .tools-1 .aerografo .aerografo-img {
      padding-top: 120px; }
      .container .tools-1 .aerografo .aerografo-img img {
        width: 186px;
        border-radius: 10px;
        transition: 0.3s ease-in-out; }
        .container .tools-1 .aerografo .aerografo-img img:hover {
          transform: scale(1.2); }
    .container .tools-1 .aerografo-ilus {
      width: 470px;
      height: 300px;
      transition: 0.3s ease-in-out; }
      .container .tools-1 .aerografo-ilus:hover {
        filter: opacity(0.9);
        transform: scale(1.09); }
  .container .tools-2 {
    height: 900px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 160px;
    font-family: 'Poppins', sans-serif; }
    .container .tools-2 .fotografia h3 {
      font-size: 9em;
      font-weight: 800;
      color: #6300ff; }
    .container .tools-2 .fotografia p {
      font-size: 3.5em;
      font-weight: 500;
      letter-spacing: 25px;
      padding-left: 13px; }
    .container .tools-2 .fotografia .accordion {
      width: 540px;
      padding-top: 30px; }
      .container .tools-2 .fotografia .accordion .accordion-button {
        font-size: 20px;
        font-weight: 500;
        color: #000000; }
      .container .tools-2 .fotografia .accordion .accordion-body {
        font-size: 15px; }
    .container .tools-2 .fotografia .fotografia-img {
      padding-top: 120px; }
      .container .tools-2 .fotografia .fotografia-img img {
        width: 186px;
        border-radius: 10px;
        transition: 0.3s ease-in-out; }
        .container .tools-2 .fotografia .fotografia-img img:hover {
          transform: scale(1.2); }
    .container .tools-2 .fotografia-ilus {
      width: 470px;
      height: 300px;
      transition: 0.3s ease-in-out; }
      .container .tools-2 .fotografia-ilus:hover {
        filter: opacity(0.9);
        transform: scale(1.09); }
  .container .tools-3 {
    align-items: left;
    height: 900px;
    display: flex;
    flex-direction: row;
    gap: 90px;
    font-family: 'Poppins', sans-serif; }
    .container .tools-3 .impresora h3 {
      font-size: 9em;
      font-weight: 800;
      color: #ff1a6d; }
    .container .tools-3 .impresora p {
      font-size: 3.5em;
      font-weight: 500;
      letter-spacing: 25px;
      padding-left: 13px; }
    .container .tools-3 .impresora .accordion {
      width: 540px;
      padding-top: 30px; }
      .container .tools-3 .impresora .accordion .accordion-button {
        font-size: 20px;
        font-weight: 500;
        color: #000000; }
      .container .tools-3 .impresora .accordion .accordion-body {
        font-size: 15px; }
    .container .tools-3 .impresora .impresora-img {
      padding-top: 120px; }
      .container .tools-3 .impresora .impresora-img img {
        width: 186px;
        border-radius: 10px;
        transition: 0.3s ease-in-out; }
        .container .tools-3 .impresora .impresora-img img:hover {
          transform: scale(1.2); }
    .container .tools-3 .impresora-ilus {
      width: 580px;
      height: 300px;
      transition: 0.3s ease-in-out; }
      .container .tools-3 .impresora-ilus:hover {
        filter: opacity(0.9);
        transform: scale(1.09); }
  .container .tools-4 {
    height: 900px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 160px;
    font-family: 'Poppins', sans-serif; }
    .container .tools-4 .modelado h3 {
      font-size: 9em;
      font-weight: 800;
      color: #fefe00; }
    .container .tools-4 .modelado p {
      font-size: 3.5em;
      font-weight: 500;
      letter-spacing: 25px;
      padding-left: 13px; }
    .container .tools-4 .modelado .accordion {
      width: 540px;
      padding-top: 30px; }
      .container .tools-4 .modelado .accordion .accordion-button {
        font-size: 20px;
        font-weight: 500;
        color: #000000; }
      .container .tools-4 .modelado .accordion .accordion-body {
        font-size: 15px; }
    .container .tools-4 .modelado .modelado-img {
      padding-top: 120px; }
      .container .tools-4 .modelado .modelado-img img {
        width: 186px;
        border-radius: 10px;
        transition: 0.3s ease-in-out; }
        .container .tools-4 .modelado .modelado-img img:hover {
          transform: scale(1.2); }
    .container .tools-4 .modelado-ilus {
      width: 800px;
      height: 300px;
      transition: 0.3s ease-in-out; }
      .container .tools-4 .modelado-ilus:hover {
        filter: opacity(0.9);
        transform: scale(1.09); }

/* Media */
@media screen and (max-width: 1091px) {
  .container {
    max-width: 800px;
    margin: 0 auto; }
    .container .tools-1 {
      gap: 20px; }
      .container .tools-1 .aerografo h3 {
        font-size: 7em; }
      .container .tools-1 .aerografo p {
        font-size: 2em;
        letter-spacing: 20px; }
      .container .tools-1 .aerografo .accordion .accordion-button {
        font-size: 15px; }
      .container .tools-1 .aerografo .accordion .accordion-body {
        font-size: 12px; }
      .container .tools-1 .aerografo .aerografo-img {
        padding-top: 50px; }
        .container .tools-1 .aerografo .aerografo-img img {
          width: 160px; }
    .container .tools-2 {
      gap: 20px; }
      .container .tools-2 .fotografia {
        text-align: right; }
        .container .tools-2 .fotografia h3 {
          font-size: 7em; }
        .container .tools-2 .fotografia p {
          font-size: 2em;
          letter-spacing: 20px; }
        .container .tools-2 .fotografia .accordion .accordion-button {
          font-size: 15px; }
        .container .tools-2 .fotografia .accordion .accordion-body {
          font-size: 12px; }
        .container .tools-2 .fotografia .fotografia-img img {
          width: 160px; }
    .container .tools-3 {
      gap: 20px; }
      .container .tools-3 .impresora h3 {
        font-size: 7em; }
      .container .tools-3 .impresora p {
        font-size: 2em;
        letter-spacing: 20px; }
      .container .tools-3 .impresora .accordion .accordion-button {
        font-size: 15px; }
      .container .tools-3 .impresora .accordion .accordion-body {
        font-size: 12px; }
      .container .tools-3 .impresora .impresora-img img {
        width: 160px; }
    .container .tools-4 {
      gap: 25px; }
      .container .tools-4 .modelado {
        text-align: right; }
        .container .tools-4 .modelado h3 {
          font-size: 7em; }
        .container .tools-4 .modelado p {
          font-size: 2em;
          letter-spacing: 20px; }
        .container .tools-4 .modelado .accordion .accordion-button {
          font-size: 15px; }
        .container .tools-4 .modelado .accordion .accordion-body {
          font-size: 12px; }
        .container .tools-4 .modelado .modelado-img img {
          width: 160px; } }

@media screen and (max-width: 800px) {
  .container {
    max-width: 700px;
    margin: 0 auto; }
    .container .tools-1 .aerografo h3 {
      font-size: 6em; }
    .container .tools-1 .aerografo .accordion {
      width: 400px; }
      .container .tools-1 .aerografo .accordion .accordion-button {
        font-size: 15px; }
      .container .tools-1 .aerografo .accordion .accordion-body {
        font-size: 12px; }
    .container .tools-1 .aerografo .aerografo-img {
      padding-top: 60px; }
      .container .tools-1 .aerografo .aerografo-img img {
        width: 150px; }
    .container .tools-2 .fotografia h3 {
      font-size: 6em; }
    .container .tools-2 .fotografia .accordion {
      width: 400px; }
    .container .tools-2 .fotografia .fotografia-img img {
      width: 150px; }
    .container .tools-3 .impresora h3 {
      font-size: 6em; }
    .container .tools-3 .impresora .accordion {
      width: 400px; }
    .container .tools-3 .impresora .impresora-img img {
      width: 150px; }
    .container .tools-4 .modelado h3 {
      font-size: 6em; }
    .container .tools-4 .modelado .accordion {
      width: 400px; }
    .container .tools-4 .modelado .modelado-img img {
      width: 150px; } }

@media screen and (max-width: 700px) {
  .container {
    max-width: 600px;
    margin: 0 auto; }
    .container .tools-1 .aerografo h3 {
      font-size: 5.5em; }
    .container .tools-1 .aerografo p {
      font-size: 1.2em;
      letter-spacing: 20px; }
    .container .tools-1 .aerografo .accordion {
      width: 350px; }
      .container .tools-1 .aerografo .accordion .accordion-button {
        font-size: 13px; }
      .container .tools-1 .aerografo .accordion .accordion-body {
        font-size: 10px; }
    .container .tools-2 .fotografia h3 {
      font-size: 5.5em; }
    .container .tools-2 .fotografia p {
      font-size: 1.2em;
      letter-spacing: 20px; }
    .container .tools-2 .fotografia .accordion {
      width: 350px; }
      .container .tools-2 .fotografia .accordion .accordion-button {
        font-size: 13px; }
      .container .tools-2 .fotografia .accordion .accordion-body {
        font-size: 10px; }
    .container .tools-3 .impresora h3 {
      font-size: 5.5em; }
    .container .tools-3 .impresora p {
      font-size: 1.2em;
      letter-spacing: 20px; }
    .container .tools-3 .impresora .accordion {
      width: 350px; }
      .container .tools-3 .impresora .accordion .accordion-button {
        font-size: 13px; }
      .container .tools-3 .impresora .accordion .accordion-body {
        font-size: 10px; }
    .container .tools-4 .modelado h3 {
      font-size: 5.5em; }
    .container .tools-4 .modelado p {
      font-size: 1.2em;
      letter-spacing: 20px; }
    .container .tools-4 .modelado .accordion {
      width: 350px; }
      .container .tools-4 .modelado .accordion .accordion-button {
        font-size: 13px; }
      .container .tools-4 .modelado .accordion .accordion-body {
        font-size: 10px; } }

@media screen and (max-width: 540px) {
  .container {
    max-width: 400px;
    margin: 0 auto; }
    .container .tools-1 .aerografo h3 {
      font-size: 6em; }
    .container .tools-1 .aerografo p {
      font-size: 1.5em; }
    .container .tools-1 .aerografo-ilus img {
      display: none; }
    .container .tools-2 .fotografia p {
      font-size: 1.5em; }
    .container .tools-2 .fotografia-ilus img {
      display: none; }
    .container .tools-3 .impresora p {
      font-size: 1.5em; }
    .container .tools-3 .impresora-ilus img {
      display: none; }
    .container .tools-4 .modelado p {
      font-size: 1.5em; }
    .container .tools-4 .modelado-ilus img {
      display: none; } }

@media screen and (max-width: 400px) {
  .container {
    max-width: 300px; }
    .container .tools-1 {
      height: 750px; }
      .container .tools-1 .aerografo h3 {
        font-size: 4em;
        padding-left: 20px; }
      .container .tools-1 .aerografo p {
        font-size: 1em;
        letter-spacing: 14px;
        padding-left: 30px; }
      .container .tools-1 .aerografo .accordion {
        width: 250px; }
        .container .tools-1 .aerografo .accordion .accordion-button {
          font-size: 10px; }
        .container .tools-1 .aerografo .accordion .accordion-body {
          font-size: 8px; }
      .container .tools-1 .aerografo .aerografo-img img {
        width: 134px; }
    .container .tools-2 {
      height: 750px; }
      .container .tools-2 .fotografia h3 {
        font-size: 4em;
        padding-right: 20px; }
      .container .tools-2 .fotografia p {
        font-size: 1em;
        letter-spacing: 14px;
        padding-right: 30px; }
      .container .tools-2 .fotografia .accordion {
        width: 250px; }
        .container .tools-2 .fotografia .accordion .accordion-button {
          font-size: 10px; }
        .container .tools-2 .fotografia .accordion .accordion-body {
          font-size: 8px; }
      .container .tools-2 .fotografia .fotografia-img img {
        width: 134px; }
    .container .tools-3 {
      height: 750px; }
      .container .tools-3 .impresora h3 {
        font-size: 4em;
        padding-left: 20px; }
      .container .tools-3 .impresora p {
        font-size: 1em;
        letter-spacing: 14px;
        padding-left: 30px; }
      .container .tools-3 .impresora .accordion {
        width: 250px; }
        .container .tools-3 .impresora .accordion .accordion-button {
          font-size: 10px; }
        .container .tools-3 .impresora .accordion .accordion-body {
          font-size: 8px; }
      .container .tools-3 .impresora .impresora-img img {
        width: 134px; }
    .container .tools-4 {
      height: 750px; }
      .container .tools-4 .modelado h3 {
        font-size: 4em;
        padding-right: 20px; }
      .container .tools-4 .modelado p {
        font-size: 1em;
        letter-spacing: 14px;
        padding-right: 30px; }
      .container .tools-4 .modelado .accordion {
        width: 250px; }
        .container .tools-4 .modelado .accordion .accordion-button {
          font-size: 10px; }
        .container .tools-4 .modelado .accordion .accordion-body {
          font-size: 8px; }
      .container .tools-4 .modelado .modelado-img img {
        width: 134px; } }

/* ----------PÁGINA "TIENDA/shop"---------- */
.seccion-instagram {
  width: 100%;
  height: 150px;
  background-color: white;
  padding: 10px;
  color: gray;
  text-align: center;
  font-size: 1.4em; }
  .seccion-instagram div {
    display: inline-block; }
  .seccion-instagram .link-instagram {
    padding: 20px;
    display: inline-block; }
    .seccion-instagram .link-instagram .instagram {
      width: 25px;
      height: 25px;
      position: relative; }

.principal-tienda {
  padding-top: 300px; }
  .principal-tienda #tienda {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 2.6s; }
    .principal-tienda #tienda path:nth-child(1) {
      stroke-dasharray: 410;
      stroke-dashoffset: 410;
      animation: line-anim 3s ease forwards 0.3s; }
    .principal-tienda #tienda path:nth-child(2) {
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: line-anim 3s ease forwards 0.3s; }
    .principal-tienda #tienda path:nth-child(3) {
      stroke-dasharray: 400;
      stroke-dashoffset: 400;
      animation: line-anim 3s ease forwards 0.3s; }
    .principal-tienda #tienda path:nth-child(4) {
      stroke-dasharray: 460;
      stroke-dashoffset: 460;
      animation: line-anim 3s ease forwards 0.6s; }
    .principal-tienda #tienda path:nth-child(5) {
      stroke-dasharray: 422;
      stroke-dashoffset: 422;
      animation: line-anim 2s ease forwards 0.9s; }
    .principal-tienda #tienda path:nth-child(6) {
      stroke-dasharray: 383;
      stroke-dashoffset: 383;
      animation: line-anim 2s ease forwards 1.2s; }
    .principal-tienda #tienda path:nth-child(7) {
      stroke-dasharray: 327;
      stroke-dashoffset: 327;
      animation: line-anim 3s ease forwards 1.5s; }

@keyframes line-anim {
  to {
    stroke-dashoffset: 0; } }

@keyframes fill {
  from {
    fill: transparent; }
  to {
    fill: #6300ff; } }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 1rem; }
  .gallery-container .gallery-item {
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .gallery-container .gallery-item:hover {
      filter: opacity(0.9);
      transform: scale(1.05); }
  .gallery-container .img1 {
    background-image: url(../image/maceta-rosa.jpg); }
  .gallery-container .img2 {
    background-image: url(../image/maceta-verde.jpg); }
  .gallery-container .img3 {
    background-image: url(../image/meceta-naranja.jpg); }
  .gallery-container .img4 {
    background-image: url(../image/bob.jpg); }
  .gallery-container .img5 {
    background-image: url(../image/centro-mesa.jpg); }
  .gallery-container .img6 {
    background-image: url(../image/lapicero.jpg); }

/* Media */
@media screen and (max-width: 440px) {
  .seccion-instagram {
    padding: 10px; }
  .gallery-container {
    padding: 5px;
    gap: 30px; } }
