@charset "UTF-8";
/*VARIABLES*/
/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Roboto:wght@100;400;500;700&display=swap");
.padd-xsmall {
  padding: 0.75rem; }

.padd-small {
  padding: 1rem; }

.padd-regular {
  padding: 1.5rem; }

.padd-medium {
  padding: 2rem; }

.padd-large {
  padding: 5rem; }

.padd-xlarge {
  padding: 12rem; }

/*GLOBALES*/
/* Imports */
/* Normalize */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif !important;
  color: #000000;
  scroll-behavior: smooth; }

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding-left: 0; }

h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 700; }

h4 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1.2; }

/* Helpers */
.container {
  max-width: 1080px;
  margin: 0 auto; }

/*PARTIALS*/
/* Header and navbar */
.navbar {
  height: 80px;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0; }
  .navbar .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    height: 100%;
    width: 90%;
    margin: 0 auto; }
    .navbar .nav-container .logo {
      width: 130px;
      height: 60px; }
    .navbar .nav-container .nav-label,
    .navbar .nav-container .nav-input {
      display: none; }
    .navbar .nav-container .nav-menu {
      flex-basis: 35%;
      font-weight: 500; }
      .navbar .nav-container .nav-menu .menu {
        display: grid;
        grid-auto-flow: column;
        align-items: center; }
        .navbar .nav-container .nav-menu .menu .item:hover .sub-menu {
          display: block; }
        .navbar .nav-container .nav-menu .menu .link, .navbar .nav-container .nav-menu .menu .sub-menu a:hover {
          font-size: 1.6em; }
        .navbar .nav-container .nav-menu .menu .link2:hover {
          color: #ff1a6d;
          transition: ease-in-out 0.3s; }
        .navbar .nav-container .nav-menu .menu .link3:hover {
          color: #ff1a6d;
          transition: ease-in-out 0.3s; }
        .navbar .nav-container .nav-menu .menu .link4:hover {
          color: #6300ff;
          transition: ease-in-out 0.3s; }
        .navbar .nav-container .nav-menu .menu .link5:hover {
          color: #fefe00;
          transition: ease-in-out 0.3s; }
        .navbar .nav-container .nav-menu .menu .sub-menu {
          display: none;
          position: absolute;
          background-color: #fff;
          padding: 15px; }
          .navbar .nav-container .nav-menu .menu .sub-menu a:hover {
            color: #baafe8; }
          .navbar .nav-container .nav-menu .menu .sub-menu a {
            font-size: 1.3em; }
          .navbar .nav-container .nav-menu .menu .sub-menu li {
            padding-bottom: 8px; }
        .navbar .nav-container .nav-menu .menu div {
          padding-top: 9px;
          padding-right: 10px;
          padding-bottom: 12px;
          padding-left: 10px; }

/*MEDIA*/
@media screen and (max-width: 1200px) {
  .navbar {
    padding-top: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0; } }

@media screen and (max-width: 780px) {
  .navbar .nav-container .nav-label {
    display: block;
    cursor: pointer; }
  .navbar .nav-container .nav-input:checked + .nav-menu {
    clip-path: circle(100% at center); }
  .nav-menu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-image: linear-gradient(to top, #f9ffac, #ffda8e, #ffb19b, #ff90c8, #e78dff);
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out; } }

/* Footer */
.footer {
  padding-top: 120px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 80px;
  background-color: #fefe00; }
  .footer h4 {
    font-weight: 700;
    font-size: 1.7em;
    padding-bottom: 20px; }
  .footer p {
    font-size: 1.4em;
    display: inline-block; }
  .footer .red-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0; }
    .footer .red-social a {
      flex-basis: 3%; }
    .footer .red-social img {
      height: 25px;
      width: 25px; }
  .footer .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px; }
    .footer .div-footer div {
      width: 450px; }
  .footer .copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 120px; }

/*MEDIA*/
@media screen and (max-width: 1200px) {
  .footer {
    padding-left: 20px;
    padding-right: 20px; } }

@media screen and (max-width: 900px) {
  .footer p {
    font-size: 1.2em; }
  .footer .div-footer div {
    width: 350px; } }

@media screen and (max-width: 660px) {
  .footer .footer-texto {
    padding-left: 20px; } }

@media screen and (max-width: 540px) {
  .footer .footer-texto {
    padding-left: 20px; } }

/*VIEWS*/
/*BANNER*/
.banner {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }

video {
  width: 100%; }

.absolute {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff; }
  .absolute .text-tittle {
    font-size: 7em;
    font-weight: 900;
    padding-bottom: 30px; }
  .absolute .text-p {
    font-size: 3em;
    width: 650px;
    text-align: left;
    margin: 0 auto; }

/*MAIN*/
/* SECCIÓN NOSOTROS */
.principal {
  background-color: #fff;
  height: 700px;
  padding-top: 200px; }
  .principal .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90px; }
    .principal .flex-row .div1 {
      width: 500px; }
      .principal .flex-row .div1 ul {
        padding: 10px 0; }
      .principal .flex-row .div1 h3 {
        color: #ff1a6d;
        font-size: 2.8em; }
      .principal .flex-row .div1 p {
        font-size: 1.5em;
        padding: 20px 0px; }
      .principal .flex-row .div1 li {
        font-size: 1.5em;
        font-weight: 500;
        padding: 8px;
        display: inline; }
        .principal .flex-row .div1 li a:hover {
          color: #ff1a6d;
          transition: ease-in-out 0.3s; }
      .principal .flex-row .div1 .boton {
        position: absolute;
        width: 100px;
        height: 40px;
        text-align: center;
        line-height: 35px; }
        .principal .flex-row .div1 .boton:hover svg rect {
          stroke-dasharray: 40, 300;
          stroke-dashoffset: 167;
          stroke: #ff1a6d; }
        .principal .flex-row .div1 .boton:hover {
          text-transform: uppercase;
          font-weight: 600;
          background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent; }
        .principal .flex-row .div1 .boton svg,
        .principal .flex-row .div1 .boton svg rect {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          fill: transparent; }
        .principal .flex-row .div1 .boton rect {
          stroke: #6300ff;
          stroke-width: 4;
          transition: 1s;
          stroke-dasharray: 300, 300;
          stroke-dashoffset: 0; }
    .principal .flex-row .div2 .img-nosotros {
      width: 350px;
      height: 350px; }

/* SECCIÓN EQUIPO */
.seccion-equipo {
  background-color: #fff;
  height: 650px; }
  .seccion-equipo .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90px; }
    .seccion-equipo .flex-row .div-equipo {
      width: 565px;
      padding: 20px 0; }
      .seccion-equipo .flex-row .div-equipo h3 {
        color: #6300ff;
        font-size: 2.8em;
        padding: 15px 0; }
      .seccion-equipo .flex-row .div-equipo p {
        font-size: 1.5em; }
      .seccion-equipo .flex-row .div-equipo .botones-equipo {
        display: flex;
        flex-direction: row;
        gap: 130px;
        padding-top: 30px; }
        .seccion-equipo .flex-row .div-equipo .botones-equipo li {
          padding-top: 15px;
          padding-right: 0px;
          padding-bottom: 5px;
          padding-left: 0px; }
        .seccion-equipo .flex-row .div-equipo .botones-equipo li a {
          font-size: 1.5em;
          font-weight: 500; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo li a a:hover {
            color: #6300ff;
            transition: ease-in-out 0.3s; }
        .seccion-equipo .flex-row .div-equipo .botones-equipo .boton2 {
          position: absolute;
          width: 110px;
          height: 45px;
          text-align: center;
          line-height: 35px; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton2:hover {
            text-transform: uppercase;
            font-weight: 600;
            background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton2:hover svg rect {
            stroke-dasharray: 40, 300;
            stroke-dashoffset: 150;
            stroke: #fefe00; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton2 svg,
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton2 svg rect {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill: transparent; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton2 rect {
            stroke: #ff1a6d;
            stroke-width: 4;
            transition: 1s;
            stroke-dasharray: 310, 310;
            stroke-dashoffset: 0; }
        .seccion-equipo .flex-row .div-equipo .botones-equipo .boton3 {
          position: absolute;
          width: 150px;
          height: 45px;
          text-align: center;
          line-height: 35px; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton3:hover svg rect {
            stroke-dasharray: 50, 300;
            stroke-dashoffset: 107;
            stroke: #6300ff; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton3:hover {
            text-transform: uppercase;
            font-weight: 600;
            background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton3 svg,
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton3 svg rect {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            fill: transparent; }
          .seccion-equipo .flex-row .div-equipo .botones-equipo .boton3 svg rect {
            stroke: #fefe00;
            stroke-width: 4;
            transition: 1s;
            stroke-dasharray: 390, 390;
            stroke-dashoffset: 0; }
    .seccion-equipo .flex-row .div-equipo2 .img-equipo {
      width: 400px;
      height: 400px; }

/* SECCION PRODUCTOS */
.productos {
  background-color: #fff;
  height: 700px; }
  .productos .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 90px; }
    .productos .flex-row .div-productos h3 {
      font-size: 2.8em;
      padding: 15px 0;
      color: #ff1a6d;
      font-weight: 700; }
    .productos .flex-row .div-productos p {
      font-size: 1.5em;
      padding: 20px 0px; }
    .productos .flex-row .div-productos .boton4 {
      position: absolute;
      width: 100px;
      height: 40px;
      text-align: center;
      line-height: 35px;
      font-size: 1.5em; }
      .productos .flex-row .div-productos .boton4:hover svg rect {
        stroke-dasharray: 40, 300;
        stroke-dashoffset: 167;
        stroke: #ff1a6d; }
      .productos .flex-row .div-productos .boton4:hover {
        text-transform: uppercase;
        font-weight: 600;
        background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent; }
      .productos .flex-row .div-productos .boton4 svg,
      .productos .flex-row .div-productos .boton4 svg rect {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: transparent; }
      .productos .flex-row .div-productos .boton4 rect {
        stroke: #6300ff;
        stroke-width: 4;
        transition: 1s;
        stroke-dasharray: 300, 300;
        stroke-dashoffset: 0; }
    .productos .flex-row .div-productos2 img {
      width: 400px;
      height: 400px; }
    .productos .flex-row .div-productos2 ul li {
      font-size: 1.5em;
      font-weight: 500;
      padding-left: 50px; }
      .productos .flex-row .div-productos2 ul li a:hover {
        color: #fefe00;
        transition: ease-in-out 0.3s; }

/* Seccion contactos */
.contacto {
  background-color: #fff;
  width: 108em;
  height: 750px; }
  .contacto .seccion-contacto {
    max-width: 100%;
    padding: 90px 0; }
    .contacto .seccion-contacto .div-contacto h3 {
      color: #ff1a6d;
      font-size: 2.8em;
      text-align: center;
      font-weight: 700; }
    .contacto .seccion-contacto .div-contacto h4 {
      font-size: 2em;
      text-align: center;
      padding-bottom: 90px; }
    .contacto .seccion-contacto .div-contacto .p-principal {
      font-size: 2em;
      text-align: center; }
    .contacto .seccion-contacto .div-contacto .contact-redes {
      padding-top: 90px;
      display: flex;
      flex-direction: row;
      gap: 100px;
      justify-content: center; }
      .contacto .seccion-contacto .div-contacto .contact-redes p {
        font-size: 1.5em;
        margin-bottom: 100px; }
    .contacto .seccion-contacto .div-contacto2 {
      padding: 80px 0; }

/*MEDIA*/
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1080px;
    margin: 0 auto; }
  .contacto {
    width: max-content; }
    .contacto .seccion-contacto {
      padding-left: 20px;
      padding-right: 20px; } }

@media screen and (max-width: 1024px) {
  .container {
    max-width: 904px;
    margin: 0 auto; } }

@media screen and (max-width: 900px) {
  .container {
    max-width: 780px;
    margin: 0 auto; }
  .seccion-equipo .flex-row .div-equipo .botones-equipo {
    display: flex;
    flex-direction: row;
    gap: 130px;
    padding-top: 30px; } }

@media screen and (max-width: 800px) {
  video {
    margin-top: 80px; }
  .absolute .text-tittle {
    font-size: 4em; }
  .absolute .text-p {
    font-size: 2em;
    width: 450px; } }

@media screen and (max-width: 780px) {
  .container {
    max-width: 660px;
    margin: 0 auto; }
  .principal .flex-row {
    gap: 25px; }
    .principal .flex-row .div1 p {
      font-size: 1.3em; }
    .principal .flex-row .div2 .img-nosotros {
      width: 250px;
      height: 250px; }
  .seccion-equipo .flex-row {
    gap: 25px; }
    .seccion-equipo .flex-row .div-equipo p {
      font-size: 1.3em; }
    .seccion-equipo .flex-row .div-equipo2 .img-equipo {
      width: 250px;
      height: 250px; }
  .productos .flex-row {
    gap: 25px; }
    .productos .flex-row .div-productos p {
      font-size: 1.3em; }
    .productos .flex-row .div-productos2 img {
      width: 250px;
      height: 250px; } }

@media screen and (max-width: 660px) {
  .container {
    max-width: 540px;
    margin: 0 auto; }
  .principal {
    padding-top: 90px;
    height: 600px; }
    .principal .flex-row .div1 h3 {
      text-align: center;
      font-size: 2.5em; }
    .principal .flex-row .div1 p {
      font-size: 1.3em; }
    .principal .flex-row .div2 .img-nosotros {
      display: none; }
  .seccion-equipo .flex-row .div-equipo h3 {
    text-align: center; }
  .seccion-equipo .flex-row .div-equipo .botones-equipo {
    display: flex;
    flex-direction: row;
    gap: 260px;
    padding-top: 30px; }
  .seccion-equipo .flex-row .div-equipo2 .img-equipo {
    display: none; }
  .productos .flex-row {
    width: 525px; }
    .productos .flex-row .div-productos h3 {
      text-align: center; }
    .productos .flex-row .div-productos2 img {
      display: none; }
  .contacto .seccion-contacto .div-contacto .contact-redes {
    gap: 30px; }
    .contacto .seccion-contacto .div-contacto .contact-redes p {
      font-size: 1.3em;
      margin-bottom: 100px; } }

@media screen and (max-width: 540px) {
  .container {
    max-width: 420px;
    margin: 0 auto; }
  .absolute .text-tittle {
    font-size: 4em; }
  .absolute .text-p {
    font-size: 1.5em;
    width: 400px; }
  .principal {
    height: 400px; }
    .principal .flex-row .div1 h3 {
      padding: 15px 0;
      width: 300px; }
  .seccion-equipo {
    height: 500px; }
    .seccion-equipo .flex-row .div-equipo p {
      padding: 20px 0; }
    .seccion-equipo .flex-row .div-equipo .botones-equipo {
      display: flex;
      flex-direction: row;
      gap: 150px;
      padding-top: 30px; }
  .productos {
    height: 500px; }
    .productos .flex-row {
      width: 405px; }
      .productos .flex-row .div-productos h3 {
        text-align: center; }
  .contacto .seccion-contacto .div-contacto .contact-redes {
    gap: 20px;
    flex-direction: column;
    align-items: center; }
    .contacto .seccion-contacto .div-contacto .contact-redes p {
      font-size: 1.4em;
      margin-bottom: 100px; } }

@media screen and (max-width: 440px) {
  .container {
    max-width: 320px;
    margin: 0 auto; }
  .absolute .text-tittle {
    font-size: 3em; }
  .absolute .text-p {
    font-size: 1.5em;
    width: 350px; }
  .seccion-equipo .flex-row .div-equipo .botones-equipo {
    gap: 150px;
    padding-top: 10px; }
  .principal {
    padding-top: 15px; }
    .principal .flex-row .div1 h3 {
      font-size: 2em; }
  .seccion-equipo .flex-row .div-equipo h3 {
    font-size: 2em; }
  .seccion-equipo .flex-row .div-equipo p {
    width: 300px; }
  .productos .flex-row {
    width: 300px; }
    .productos .flex-row .div-productos h3 {
      font-size: 2em;
      width: 300px; } }

@media screen and (max-width: 360px) {
  .container {
    max-width: 300px;
    margin: 0 auto; }
  .absolute .text-tittle {
    font-size: 2.5em;
    margin-top: 80px; }
  .absolute .text-p {
    font-size: 1.3em;
    width: 250px; }
  .principal .flex-row {
    justify-content: center; }
    .principal .flex-row .div1 ul {
      text-align: center;
      width: 200px; }
    .principal .flex-row .div1 p {
      padding-left: 40px;
      padding-right: 40px; }
  .seccion-equipo .flex-row {
    justify-content: center; }
    .seccion-equipo .flex-row .div-equipo p {
      padding-left: 40px;
      padding-right: 40px; }
    .seccion-equipo .flex-row .div-equipo .botones-equipo {
      text-align: center;
      width: 200px;
      margin-left: 20px; }
      .seccion-equipo .flex-row .div-equipo .botones-equipo a {
        font-size: 1.3em; }
  .productos .flex-row {
    justify-content: center; }
    .productos .flex-row .div-productos p {
      padding-left: 40px;
      padding-right: 40px; }
    .productos .flex-row .div-productos ul {
      width: 200px;
      text-align: center; } }

/* ----------PÁGINA "TRABAJOS-WORKS"---------- */
.btn-primary {
  color: #000000;
  background-color: #fefe00;
  border-color: #fefe00; }
  .btn-primary:hover {
    color: #ff1a6d;
    background-color: #fff;
    border-color: #fff; }
  .btn-primary:focus {
    color: #ff1a6d;
    background-color: #fff;
    border-color: #fff;
    box-shadow: #fff; }

.card-body {
  flex: 1 1 auto;
  padding: 2rem 2rem; }

.btn {
  font-weight: 600;
  padding: 1.5rem 2rem;
  font-size: 1.5rem;
  border-radius: 3rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; }

.body-trabajos {
  background-image: url(../image/FondoTrabajos.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.works h1 {
  color: #ff1a6d;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 120px;
  font-size: 2.5em;
  font-weight: 700; }

.div-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: minmax(250px, auto);
  gap: 15px; }
  .div-img .item-img {
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .div-img .item-img:hover {
      filter: opacity(0.9);
      transform: scale(1.05); }
  .div-img .homero {
    background-image: url(../image/MateHomero.png); }
  .div-img .corazones {
    background-image: url(../image/ArosCorazón.png); }
  .div-img .negro {
    background-image: url(../image/MacetaNegra.png); }
  .div-img .rojo {
    background-image: url(../image/MacetaParaguas.png); }

/* ----------PÁGINA "Conocenos/know-us"---------- */
.footer-know {
  padding-top: 60px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 80px;
  background-color: #fefe00; }
  .footer-know h4 {
    font-weight: 700;
    font-size: 1.7em;
    padding-bottom: 20px; }
  .footer-know p {
    font-size: 1.4em;
    display: inline-block; }
  .footer-know .red-social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    padding-left: 0;
    padding-right: 10px;
    padding-bottom: 0; }
    .footer-know .red-social a {
      flex-basis: 3%; }
    .footer-know .red-social img {
      height: 25px;
      width: 25px; }
  .footer-know .div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px; }
    .footer-know .div-footer div {
      width: 450px; }
  .footer-know .copy {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 120px; }

.main-know {
  height: 1000px;
  max-width: 1080px;
  margin: auto; }
  .main-know .texto-know {
    width: 600px;
    transform: translate(20%, 400%);
    font-size: 3em;
    font-weight: 800; }
  .main-know .seccion-conocenos {
    display: flex;
    justify-content: flex-end; }
    .main-know .seccion-conocenos .Victor {
      transform: translate(80%, 5%);
      position: relative;
      cursor: pointer; }
      .main-know .seccion-conocenos .Victor:hover > .capa {
        opacity: 1;
        visibility: visible; }
        .main-know .seccion-conocenos .Victor:hover > .capa h3 {
          margin-top: 90px;
          margin-bottom: 15px; }
      .main-know .seccion-conocenos .Victor img {
        width: 300px;
        transition: all 500ms ease-in-out;
        border-radius: 400px; }
      .main-know .seccion-conocenos .Victor .capa {
        border-radius: 350px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(255, 225, 0, 0.764);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center; }
        .main-know .seccion-conocenos .Victor .capa h3 {
          font-weight: 800;
          margin-bottom: 120px;
          transition: all 500ms ease-out;
          margin-top: 30px;
          font-size: 2em; }
        .main-know .seccion-conocenos .Victor .capa p {
          width: 100%;
          max-width: 200px;
          margin: auto;
          padding-top: 10px;
          font-weight: 500;
          font-size: 1.5em;
          line-height: 1.5; }
    .main-know .seccion-conocenos .Goyo {
      transform: translate(-120%, 88%);
      position: relative;
      cursor: pointer; }
      .main-know .seccion-conocenos .Goyo:hover > .capa {
        opacity: 1;
        visibility: visible; }
        .main-know .seccion-conocenos .Goyo:hover > .capa h3 {
          margin-top: 90px;
          margin-bottom: 15px; }
      .main-know .seccion-conocenos .Goyo img {
        width: 300px;
        transition: all 500ms ease-in-out;
        border-radius: 400px; }
      .main-know .seccion-conocenos .Goyo .capa {
        border-radius: 350px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(255, 105, 210, 0.725);
        transition: all 500ms ease-out;
        opacity: 0;
        visibility: hidden;
        text-align: center; }
        .main-know .seccion-conocenos .Goyo .capa h3 {
          color: #fff;
          font-weight: 800;
          margin-bottom: 120px;
          transition: all 500ms ease-out;
          margin-top: 30px;
          font-size: 2em; }
        .main-know .seccion-conocenos .Goyo .capa p {
          padding-top: 10px;
          color: #fff;
          font-weight: 400;
          width: 100%;
          max-width: 200px;
          margin: auto;
          padding-top: 10px;
          font-weight: 500;
          font-size: 1.5em;
          line-height: 1.5; }

/*MEDIA*/
@media screen and (max-width: 1024px) {
  .main-know {
    max-width: 904px;
    margin: 0 auto;
    height: 1360px; }
    .main-know .texto-know {
      width: 600px;
      transform: translate(0, 400%);
      font-size: 3em;
      font-weight: 800;
      text-align: center;
      margin: auto; }
    .main-know .seccion-conocenos {
      display: flex;
      justify-content: center;
      margin: auto;
      gap: 80px; }
      .main-know .seccion-conocenos .Victor {
        transform: translate(0, 140%); }
      .main-know .seccion-conocenos .Goyo {
        transform: translate(0, 140%); } }

@media screen and (max-width: 751px) {
  .main-know .seccion-conocenos {
    gap: 40px; } }

@media screen and (max-width: 640px) {
  .main-know .texto-know {
    width: 400px;
    font-size: 2.5em;
    transform: translate(0%, 300%); }
  .main-know .seccion-conocenos {
    gap: 10px; }
    .main-know .seccion-conocenos .Victor {
      transform: translate(0, 170%); }
      .main-know .seccion-conocenos .Victor img {
        width: 250px; }
    .main-know .seccion-conocenos .Goyo {
      transform: translate(0, 170%); }
      .main-know .seccion-conocenos .Goyo img {
        width: 250px; } }

@media screen and (max-width: 540px) {
  .main-know .texto-know {
    transform: translate(0%, 200%); }
  .main-know .seccion-conocenos {
    gap: 10px; }
    .main-know .seccion-conocenos .Victor {
      transform: translate(0, 120%); }
      .main-know .seccion-conocenos .Victor:hover > .capa h3 {
        margin-top: 30px; }
      .main-know .seccion-conocenos .Victor img {
        width: 220px; }
      .main-know .seccion-conocenos .Victor .capa p {
        max-width: 155px;
        font-size: 1.3em;
        line-height: 1.5; }
    .main-know .seccion-conocenos .Goyo {
      transform: translate(0, 170%); }
      .main-know .seccion-conocenos .Goyo:hover > .capa h3 {
        margin-top: 50px; }
      .main-know .seccion-conocenos .Goyo img {
        width: 220px; }
      .main-know .seccion-conocenos .Goyo .capa p {
        max-width: 155px;
        font-size: 1.3em;
        line-height: 1.5; } }

@media screen and (max-width: 451px) {
  .main-know .seccion-conocenos {
    gap: 10px; }
    .main-know .seccion-conocenos .Victor {
      transform: translate(50%, 120%); }
      .main-know .seccion-conocenos .Victor:hover > .capa h3 {
        margin-top: 30px; }
      .main-know .seccion-conocenos .Victor img {
        width: 220px; }
      .main-know .seccion-conocenos .Victor .capa p {
        max-width: 155px;
        font-size: 1.3em;
        line-height: 1.5; }
    .main-know .seccion-conocenos .Goyo {
      transform: translate(-50%, 230%); }
      .main-know .seccion-conocenos .Goyo:hover > .capa h3 {
        margin-top: 50px; }
      .main-know .seccion-conocenos .Goyo img {
        width: 220px; }
      .main-know .seccion-conocenos .Goyo .capa p {
        max-width: 155px;
        font-size: 1.3em;
        line-height: 1.5; } }

@media screen and (max-width: 400px) {
  .main-know .texto-know {
    width: 300px;
    transform: translate(0, 160%);
    font-size: 2.5em; } }

/* ----------PÁGINA "Nuestras Herramientas/our-tools"---------- */
.herramientas-trabajo h1 {
  color: #fefe00;
  text-align: center;
  padding-top: 130px;
  padding-bottom: 10px;
  font-weight: 700; }

.fotos-herramientas img {
  width: 360px;
  height: 220px;
  padding: 15px; }

.carousel {
  width: 900px;
  height: 600px;
  margin: auto;
  margin-top: 60px; }
  .carousel .carousel-caption {
    color: #000000;
    font-weight: 500;
    font-size: 1.5em;
    width: 100%;
    height: 200px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.527); }
    .carousel .carousel-caption p {
      margin: 0 30px; }
    .carousel .carousel-caption .h5,
    .carousel .carousel-caption h5 {
      font-size: 1.6em;
      margin-bottom: 20px;
      font-weight: 700;
      text-transform: uppercase; }
  .carousel .carousel-indicators [data-bs-target] {
    background-color: #6300ff; }
  .carousel .carousel-indicators {
    margin-bottom: 1.5rem;
    z-index: 0; }
  .carousel .tamaño-img {
    width: 40rem;
    height: 40rem;
    margin-left: 250px; }
  .carousel .carousel-control-next,
  .carousel .carousel-control-prev {
    z-index: 0; }

.footer {
  margin-top: 100px; }

/*MEDIA*/
@media screen and (max-width: 900px) {
  .carousel {
    width: 800px;
    height: 550px;
    margin: auto;
    padding: 30px; }
    .carousel .carousel-caption {
      font-size: 1.5em;
      width: 740px;
      height: 200px;
      right: 0;
      left: 0;
      bottom: 0; }
    .carousel .carousel-indicators {
      margin-bottom: 3rem; }
    .carousel .tamaño-img {
      margin-left: 150px; } }

@media screen and (max-width: 800px) {
  .carousel {
    width: 70rem;
    height: 50rem;
    margin: auto;
    padding: 10px; }
    .carousel .carousel-caption {
      font-size: 1em;
      width: 100%;
      height: 150px;
      right: 0;
      left: 0;
      bottom: 0; }
    .carousel .carousel-indicators {
      margin-bottom: 1rem; } }

@media screen and (max-width: 700px) {
  .carousel {
    width: 50rem;
    height: 40rem;
    margin: auto;
    padding: 10px; }
    .carousel .carousel-caption {
      font-size: 1em;
      width: 100%;
      height: 150px;
      right: 0;
      left: 0;
      bottom: 0; }
    .carousel .carousel-indicators {
      margin-bottom: 1rem; }
    .carousel .tamaño-img {
      width: 30rem;
      height: 30rem;
      margin-left: 100px; } }

@media screen and (max-width: 500px) {
  .carousel {
    width: 40rem;
    height: 30rem;
    margin: auto;
    padding: 10px; }
    .carousel .carousel-caption {
      font-size: 1em;
      width: 100%;
      height: 120px;
      right: 0;
      left: 0;
      bottom: 0; }
    .carousel .carousel-indicators {
      margin-bottom: 1rem; }
    .carousel .tamaño-img {
      margin-left: 30px; } }

@media screen and (max-width: 440px) {
  .fotos-herramientas img {
    width: 330px;
    height: 215px;
    padding-right: 40px; }
  .tamaño-img {
    margin-left: 30px; } }

@media screen and (max-width: 400px) {
  .carousel {
    width: 30rem;
    height: 25rem;
    margin: auto;
    padding: 10px; }
    .carousel .carousel-caption {
      font-size: 0.9em;
      width: 100%;
      height: 100px;
      right: 0;
      left: 0;
      bottom: 0; }
      .carousel .carousel-caption p {
        display: flex;
        justify-content: center; }
      .carousel .carousel-caption .h5,
      .carousel .carousel-caption h5 {
        font-size: 1.2em;
        margin-bottom: 20px;
        font-weight: 700;
        text-transform: uppercase; }
    .carousel .carousel-indicators {
      margin: auto;
      width: 60px; }
    .carousel .tamaño-img {
      width: 25rem;
      height: 25rem;
      margin-left: 0; } }

/* ----------PÁGINA "TIENDA/shop"---------- */
.seccion-instagram {
  width: 100%;
  height: 150px;
  background-color: white;
  padding: 10px;
  color: gray;
  text-align: center;
  font-size: 1.4em; }
  .seccion-instagram div {
    display: inline-block; }
  .seccion-instagram .link-instagram {
    padding: 20px;
    display: inline-block; }
    .seccion-instagram .link-instagram .instagram {
      width: 25px;
      height: 25px;
      position: relative; }

.principal-tienda {
  padding-top: 300px; }
  .principal-tienda #tienda {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 2.6s; }
    .principal-tienda #tienda path:nth-child(1) {
      stroke-dasharray: 410;
      stroke-dashoffset: 410;
      animation: line-anim 3s ease forwards 0.3s; }
    .principal-tienda #tienda path:nth-child(2) {
      stroke-dasharray: 200;
      stroke-dashoffset: 200;
      animation: line-anim 3s ease forwards 0.3s; }
    .principal-tienda #tienda path:nth-child(3) {
      stroke-dasharray: 400;
      stroke-dashoffset: 400;
      animation: line-anim 3s ease forwards 0.3s; }
    .principal-tienda #tienda path:nth-child(4) {
      stroke-dasharray: 460;
      stroke-dashoffset: 460;
      animation: line-anim 3s ease forwards 0.6s; }
    .principal-tienda #tienda path:nth-child(5) {
      stroke-dasharray: 422;
      stroke-dashoffset: 422;
      animation: line-anim 2s ease forwards 0.9s; }
    .principal-tienda #tienda path:nth-child(6) {
      stroke-dasharray: 383;
      stroke-dashoffset: 383;
      animation: line-anim 2s ease forwards 1.2s; }
    .principal-tienda #tienda path:nth-child(7) {
      stroke-dasharray: 327;
      stroke-dashoffset: 327;
      animation: line-anim 3s ease forwards 1.5s; }

@keyframes line-anim {
  to {
    stroke-dashoffset: 0; } }

@keyframes fill {
  from {
    fill: transparent; }
  to {
    fill: #6300ff; } }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 1rem; }
  .gallery-container .gallery-item {
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .gallery-container .gallery-item:hover {
      filter: opacity(0.9);
      transform: scale(1.05); }
  .gallery-container .img1 {
    background-image: url(../image/maceta-rosa.jpg); }
  .gallery-container .img2 {
    background-image: url(../image/maceta-verde.jpg); }
  .gallery-container .img3 {
    background-image: url(../image/meceta-naranja.jpg); }
  .gallery-container .img4 {
    background-image: url(../image/bob.jpg); }
  .gallery-container .img5 {
    background-image: url(../image/centro-mesa.jpg); }
  .gallery-container .img6 {
    background-image: url(../image/lapicero.jpg); }

/*MEDIA*/
@media screen and (max-width: 440px) {
  .seccion-instagram {
    padding: 10px; }
  .gallery-container {
    padding: 5px;
    gap: 30px; } }
