/*BANNER*/

.banner {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

video {
    width: 100%;
}

.absolute {
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $blanco;

    .text-tittle {
        font-size: 7em;
        font-weight: 900;
        padding-bottom: 30px;
    }

    .text-p {
        font-size: 3em;
        width: 650px;
        text-align: left;
        margin: 0 auto;
    }
}

/*MAIN*/
/* SECCIÓN NOSOTROS */

.principal {
    background-color: $blanco;
    height: 700px;
    padding-top: 200px;

    .flex-row {
        @include flex(row, space-around, center, 90px);

        .div1 {
            width: 500px;

            ul {
                padding: 10px 0;
            }

            h3 {
                color: $rosa;
                font-size: 2.8em;
            }

            p {
                font-size: 1.5em;
                padding: 20px 0px;
            }

            li {
                font-size: 1.5em;
                font-weight: 500;
                padding: 8px;
                display: inline;

                a:hover {
                    color: $rosa;
                    transition: ease-in-out 0.3s;
                }
            }

            .boton {
                position: absolute;
                width: 100px;
                height: 40px;
                text-align: center;
                line-height: 35px;

                &:hover {
                    svg rect {
                        stroke-dasharray: 40, 300;
                        stroke-dashoffset: 167;
                        stroke: $rosa;
                    }

                }

                &:hover {
                    text-transform: uppercase;
                    font-weight: 600;
                    background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                svg,
                svg rect {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    fill: transparent;
                }

                rect {
                    stroke: $violeta;
                    stroke-width: 4;
                    transition: 1s;
                    stroke-dasharray: 300, 300;
                    stroke-dashoffset: 0;

                }
            }
        }

        .div2 {
            .img-nosotros {
                width: 350px;
                height: 350px;
            }
        }
    }
}


/* SECCIÓN EQUIPO */

.seccion-equipo {

    background-color: $blanco;
    height: 650px;

    .flex-row {
        @include flex(row, space-around, center, 90px);

        .div-equipo {
            width: 565px;
            padding: 20px 0;

            h3 {
                color: $violeta;
                font-size: 2.8em;
                padding: 15px 0;
            }

            p {
                font-size: 1.5em;
            }

            .botones-equipo {
                display: flex;
                flex-direction: row;
                gap: 130px;
                padding-top: 30px;

                li {
                    padding-top: 15px;
                    padding-right: 0px;
                    padding-bottom: 5px;
                    padding-left: 0px;
                }

                li a {
                    font-size: 1.5em;
                    font-weight: 500;

                    a:hover {
                        color: $violeta;
                        transition: ease-in-out 0.3s;
                    }
                }


                .boton2 {
                    position: absolute;
                    width: 110px;
                    height: 45px;
                    text-align: center;
                    line-height: 35px;

                    &:hover {
                        text-transform: uppercase;
                        font-weight: 600;
                        background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    &:hover svg rect {
                        stroke-dasharray: 40, 300;
                        stroke-dashoffset: 150;
                        stroke: $amarillo;
                    }

                    svg,
                    svg rect {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        fill: transparent;
                    }

                    rect {
                        stroke: $rosa;
                        stroke-width: 4;
                        transition: 1s;
                        stroke-dasharray: 310, 310;
                        stroke-dashoffset: 0;
                    }
                }

                .boton3 {
                    position: absolute;
                    width: 150px;
                    height: 45px;
                    text-align: center;
                    line-height: 35px;

                    &:hover svg rect {
                        stroke-dasharray: 50, 300;
                        stroke-dashoffset: 107;
                        stroke: $violeta;
                    }

                    &:hover {
                        text-transform: uppercase;
                        font-weight: 600;
                        background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
                        -webkit-background-clip: text;
                        background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    svg,
                    svg rect {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        fill: transparent;
                    }

                    svg rect {
                        stroke: $amarillo;
                        stroke-width: 4;
                        transition: 1s;
                        stroke-dasharray: 390, 390;
                        stroke-dashoffset: 0;
                    }
                }
            }
        }

        .div-equipo2 {
            .img-equipo {
                width: 400px;
                height: 400px;
            }
        }
    }
}


/* SECCION PRODUCTOS */

.productos {
    background-color: $blanco;
    height: 700px;


    .flex-row {
        @include flex(row, space-around, center, 90px);

        .div-productos {

            h3 {
                font-size: 2.8em;
                padding: 15px 0;
                color: $rosa;
                font-weight: 700;
            }

            p {
                font-size: 1.5em;
                padding: 20px 0px;
            }

            .boton4 {
                position: absolute;
                width: 100px;
                height: 40px;
                text-align: center;
                line-height: 35px;
                font-size: 1.5em;

                &:hover {
                    svg rect {
                        stroke-dasharray: 40, 300;
                        stroke-dashoffset: 167;
                        stroke: $rosa;
                    }

                }

                &:hover {
                    text-transform: uppercase;
                    font-weight: 600;
                    background: linear-gradient(to right, #b663ff, #cc66f5, #dd6ceb, #ea73e3, #f57cdb, #ff83c7, #ff8cb8, #ff98ad, #ffaa9b, #ffc38b, #ffe186, #f8ff93);
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                svg,
                svg rect {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    fill: transparent;
                }

                rect {
                    stroke: $violeta;
                    stroke-width: 4;
                    transition: 1s;
                    stroke-dasharray: 300, 300;
                    stroke-dashoffset: 0;

                }
            }
        }

        .div-productos2 {

            img {
                width: 400px;
                height: 400px;
            }

            ul li {
                font-size: 1.5em;
                font-weight: 500;
                padding-left: 50px;

                a:hover {
                    color: $amarillo;
                    transition: ease-in-out 0.3s;
                }
            }
        }
    }
}



/* Seccion contactos */

.contacto {
    background-color: $blanco;
    width: 108em;
    height: 750px;

    .seccion-contacto {
        max-width: 100%;
        padding: 90px 0;

        .div-contacto {

            h3 {
                color: $rosa;
                font-size: 2.8em;
                text-align: center;
                font-weight: 700;
            }

            h4 {
                font-size: 2em;
                text-align: center;
                padding-bottom: 90px;
            }

            .p-principal {
                font-size: 2em;
                text-align: center;
            }

            .contact-redes {
                padding-top: 90px;
                display: flex;
                flex-direction: row;
                gap: 100px;
                justify-content: center;

                p {
                    font-size: 1.5em;
                    margin-bottom: 100px;
                }
            }
        }

        .div-contacto2 {
            padding: 80px 0;
        }
    }
}


/*MEDIA*/


@media screen and (max-width:1200px) {

    .container {
        max-width: 1080px;
        margin: 0 auto;
    }

    .contacto {
        width: max-content;

        .seccion-contacto {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media screen and (max-width:1024px) {

    .container {
        max-width: 904px;
        margin: 0 auto;
    }
}

@media screen and (max-width:900px) {

    .container {
        max-width: 780px;
        margin: 0 auto;
    }

    .seccion-equipo {
        .flex-row {
            .div-equipo {
                .botones-equipo {
                    display: flex;
                    flex-direction: row;
                    gap: 130px;
                    padding-top: 30px;
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {

    video {
        margin-top: 80px;
    }

    .absolute {
        .text-tittle {
            font-size: 4em;
        }

        .text-p {
            font-size: 2em;
            width: 450px;
        }
    }
}

@media screen and (max-width:780px) {

    .container {
        max-width: 660px;
        margin: 0 auto;
    }



    .principal {
        .flex-row {

            gap: 25px;

            .div1 {
                p {
                    font-size: 1.3em;
                }
            }

            .div2 {
                .img-nosotros {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }

    .seccion-equipo {
        .flex-row {
            gap: 25px;

            .div-equipo {
                p {
                    font-size: 1.3em;
                }
            }

            .div-equipo2 {
                .img-equipo {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }

    .productos {
        .flex-row {
            gap: 25px;

            .div-productos {
                p {
                    font-size: 1.3em;
                }
            }

            .div-productos2 {
                img {
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }
}

@media screen and (max-width:660px) {

    .container {
        max-width: 540px;
        margin: 0 auto;
    }


    .principal {

        padding-top: 90px;
        height: 600px;

        .flex-row {
            .div1 {
                h3 {
                    text-align: center;
                    font-size: 2.5em;
                }

                p {
                    font-size: 1.3em;
                }
            }

            .div2 {
                .img-nosotros {
                    display: none;
                }
            }
        }
    }

    .seccion-equipo {

        .flex-row {

            .div-equipo {

                h3 {
                    text-align: center;
                }

                .botones-equipo {
                    display: flex;
                    flex-direction: row;
                    gap: 260px;
                    padding-top: 30px;
                }
            }

            .div-equipo2 {
                .img-equipo {
                    display: none;
                }
            }

        }
    }

    .productos {
        .flex-row {
            width: 525px;

            .div-productos {
                h3 {
                    text-align: center;
                }
            }

            .div-productos2 {
                img {
                    display: none;
                }
            }
        }
    }

    .contacto{
        .seccion-contacto{
            .div-contacto{
                .contact-redes{
                gap: 30px;
                

                p {
                    font-size: 1.3em;
                    margin-bottom: 100px;
                }

                }
            }
        }
    }
}

@media screen and (max-width:540px) {

    .container {
        max-width: 420px;
        margin: 0 auto;
    }

    .absolute {
        .text-tittle {
            font-size: 4em;
        }

        .text-p {
            font-size: 1.5em;
            width: 400px;
        }
    }

    .principal {
        height: 400px;
        .flex-row {
            .div1 {
                h3 {
                    padding: 15px 0;
                    width: 300px;
                }
            }
        }
    }

    .seccion-equipo {
        height: 500px;
        .flex-row {
            .div-equipo {
                p {
                    padding: 20px 0;
                }

                .botones-equipo {
                    display: flex;
                    flex-direction: row;
                    gap: 150px;
                    padding-top: 30px;
                }
            }
        }
    }

    .productos {
        height: 500px;

        .flex-row {

            width: 405px;

            .div-productos {
                h3 {
                    text-align: center;
                }
            }

        }
    }

    .contacto{
        .seccion-contacto{
            .div-contacto{
                .contact-redes{
                gap: 20px;
                flex-direction: column;
                align-items: center;
                

                p {
                    font-size: 1.4em;
                    margin-bottom: 100px;
                }

                }
            }
        }
    }
}

@media screen and (max-width:440px) {

    .container {
        max-width: 320px;
        margin: 0 auto;
    }

    .absolute {
        .text-tittle {
            font-size: 3em;
        }

        .text-p {
            font-size: 1.5em;
            width: 350px;
        }
    }

    .seccion-equipo {
        .flex-row {
            .div-equipo {
                .botones-equipo {
                    gap: 150px;
                    padding-top: 10px;
                }
            }
        }
    }


    .principal {
        padding-top: 15px;

        .flex-row {
            .div1 {
                h3 {
                    font-size: 2em;
                }
            }
        }
    }

    .seccion-equipo {
        .flex-row {
            .div-equipo {
                h3 {
                    font-size: 2em;
                }

                p {
                    width: 300px;
                }
            }
        }
    }

    .productos {
        .flex-row {
            width: 300px;

            .div-productos {
                h3 {
                    font-size: 2em;
                    width: 300px;
                }
            }
        }
    }
}

@media screen and (max-width:360px) {

    .container {
        max-width: 300px;
        margin: 0 auto;
    }

    .absolute {
        .text-tittle {
            font-size: 2.5em;
            margin-top: 80px;
        }

        .text-p {
            font-size: 1.3em;
            width: 250px;
        }
    }

    .principal {
        .flex-row {
            justify-content: center;

            .div1 {
                ul {
                    text-align: center;
                    width: 200px;
                }

                p {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }
        }
    }


    .seccion-equipo {
        .flex-row {
            justify-content: center;

            .div-equipo {

                p {
                    padding-left: 40px;
                    padding-right: 40px;
                }

                .botones-equipo {
                    text-align: center;
                    width: 200px;
                    margin-left: 20px;

                    a {
                        font-size: 1.3em;
                    }
                }
            }
        }
    }

    .productos {
        .flex-row {
            justify-content: center;

            .div-productos {
                p {
                    padding-left: 40px;
                    padding-right: 40px;
                }

                ul {
                    width: 200px;
                    text-align: center;
                }
            }
        }
    }
}