/* ----------PÃGINA "Conocenos/know-us"---------- */

.footer-know {
    padding-top: 60px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 80px;
    background-color: $amarillo;

    h4 {
        font-weight: 700;
        font-size: 1.7em;
        padding-bottom: 20px;
    }

    p {
        font-size: 1.4em;
        display: inline-block;
    }

    .red-social {
        @include flex(row, flex-end, center, 15px);
        padding-top: 30px;
        padding-left: 0;
        padding-right: 10px;
        padding-bottom: 0;

        a {
            flex-basis: 3%;
        }

        img {
            height: 25px;
            width: 25px;
        }
    }

    .div-footer {
        @include flex(row, space-between, center, 5px);

        div {
            width: 450px;
        }
    }

    .copy {
        @include flex(row, center, center, 5px);
        padding-top: 120px;
    }
}

.main-know {
    height: 1000px;
    max-width: 1080px;
    margin: auto;

    .texto-know {
        width: 600px;
        transform: translate(20%, 400%);
        font-size: 3em;
        font-weight: 800;
    }

    .seccion-conocenos {
        display: flex;
        justify-content: flex-end;

        .Victor {
            transform: translate(80%, 5%);
            position: relative;
            cursor: pointer;


            &:hover>.capa {
                opacity: 1;
                visibility: visible;

                h3 {
                    margin-top: 90px;
                    margin-bottom: 15px;
                }
            }

            img {
                width: 300px;
                transition: all 500ms ease-in-out;
                border-radius: 400px;
            }

            .capa {
                border-radius: 350px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                background: rgba(255, 225, 0, 0.764);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;

                h3 {
                    font-weight: 800;
                    margin-bottom: 120px;
                    transition: all 500ms ease-out;
                    margin-top: 30px;
                    font-size: 2em;
                }

                p {
                    width: 100%;
                    max-width: 200px;
                    margin: auto;
                    padding-top: 10px;
                    font-weight: 500;
                    font-size: 1.5em;
                    line-height: 1.5;
                }
            }
        }

        .Goyo {
            transform: translate(-120%, 88%);
            position: relative;
            cursor: pointer;

            &:hover>.capa {
                opacity: 1;
                visibility: visible;

                h3 {
                    margin-top: 90px;
                    margin-bottom: 15px;
                }
            }

            img {
                width: 300px;
                transition: all 500ms ease-in-out;
                border-radius: 400px;
            }

            .capa {
                border-radius: 350px;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                background: rgba(255, 105, 210, 0.725);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;

                h3 {
                    color: $blanco;
                    font-weight: 800;
                    margin-bottom: 120px;
                    transition: all 500ms ease-out;
                    margin-top: 30px;
                    font-size: 2em;
                }

                p {
                    padding-top: 10px;
                    color: $blanco;
                    font-weight: 400;
                    width: 100%;
                    max-width: 200px;
                    margin: auto;
                    padding-top: 10px;
                    font-weight: 500;
                    font-size: 1.5em;
                    line-height: 1.5;
                }
            }
        }
    }
}

/*MEDIA*/

@media screen and (max-width: 1024px) {
    .main-know {
        max-width: 904px;
        margin: 0 auto;
        height: 1360px;

        .texto-know {
            width: 600px;
            transform: translate(0, 400%);
            font-size: 3em;
            font-weight: 800;
            text-align: center;
            margin: auto;
        }

        .seccion-conocenos {
            display: flex;
            justify-content: center;
            margin: auto;
            gap: 80px;

            .Victor {
                transform: translate(0, 140%);
            }

            .Goyo {
                transform: translate(0, 140%);
            }
        }
    }
}

@media screen and (max-width: 751px) {
    .main-know {
        .seccion-conocenos {
            gap: 40px;
        }
    }
}

@media screen and (max-width: 640px) {
    .main-know {

        .texto-know {
            width: 400px;
            font-size: 2.5em;
            transform: translate(0%, 300%);
        }

        .seccion-conocenos {
            gap: 10px;

            .Victor {
                transform: translate(0, 170%);

                img {
                    width: 250px;
                }
            }

            .Goyo {

                transform: translate(0, 170%);

                img {
                    width: 250px;
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .main-know {

        .texto-know {
            transform: translate(0%, 200%);
        }

        .seccion-conocenos {
            gap: 10px;

            .Victor {
                transform: translate(0, 120%);

                &:hover>.capa {
                    h3 {
                        margin-top: 30px;
                    }
                }

                img {
                    width: 220px;
                }

                .capa{
                    p {
                        max-width: 155px;
                        font-size: 1.3em;
                        line-height: 1.5;
                    }
                }
            }

            .Goyo {
                transform: translate(0, 170%);

                &:hover>.capa {
                    h3 {
                        margin-top: 50px;
                    }
                }

                img {
                    width: 220px;
                }

                .capa{
                    p {
                        max-width: 155px;
                        font-size: 1.3em;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:451px) {
    .main-know {

        .seccion-conocenos {
            gap: 10px;

            .Victor {
                transform: translate(50%, 120%);

                &:hover>.capa {
                    h3 {
                        margin-top: 30px;
                    }
                }

                img {
                    width: 220px;
                }

                .capa{
                    p {
                        max-width: 155px;
                        font-size: 1.3em;
                        line-height: 1.5;
                    }
                }
            }

            .Goyo {
                transform: translate(-50%, 230%);

                &:hover>.capa {
                    h3 {
                        margin-top: 50px;
                    }
                }

                img {
                    width: 220px;
                }

                .capa{
                    p {
                        max-width: 155px;
                        font-size: 1.3em;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:400px) {
    .main-know {

        .texto-know {
            width: 300px;
            transform: translate(0, 160%);
            font-size: 2.5em;
        }
    }
}
