/* ----------PÁGINA "Nuestras Herramientas/our-tools"---------- */

.herramientas-trabajo {

    h1 {
        color: $amarillo;
        text-align: center;
        padding-top: 130px;
        padding-bottom: 10px;
        font-weight: 700;
    }
}

.fotos-herramientas {
    
    img {
        width: 360px;
        height: 220px;
        padding: 15px;
    }
}

.carousel {
    width: 900px;
    height: 600px;
    margin: auto;
    margin-top: 60px;

    .carousel-caption {
        color: $negro;
        font-weight: 500;
        font-size: 1.5em;
        width: 100%;
        height: 200px;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.527);

        p {
            margin: 0 30px;
        }

        .h5,
        h5 {
            font-size: 1.6em;
            margin-bottom: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .carousel-indicators [data-bs-target] {
        background-color: $violeta;
    }

    .carousel-indicators {
        margin-bottom: 1.5rem;
        z-index: 0;
    }
    
    
    .tamaño-img {
        width: 40rem;
        height: 40rem;
        margin-left: 250px;
        
    }

    .carousel-control-next,
    .carousel-control-prev {
        z-index: 0;
    }
}

.footer {
    margin-top: 100px;
}


/*MEDIA*/

@media screen and (max-width:900px) {
    .carousel {
        width: 800px;
        height: 550px;
        margin: auto;
        padding: 30px;

        .carousel-caption {
            font-size: 1.5em;
            width: 740px;
            height: 200px;
            right: 0;
            left: 0;
            bottom: 0;
        }

        .carousel-indicators {
            margin-bottom: 3rem;
        }

        .tamaño-img {
            margin-left: 150px;
        }
    }
}

@media screen and (max-width:800px) {

    .carousel {
        width: 70rem;
        height: 50rem;
        margin: auto;
        padding: 10px;

        .carousel-caption {
            font-size: 1em;
            width: 100%;
            height: 150px;
            right: 0;
            left: 0;
            bottom: 0;
        }


        .carousel-indicators {
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width:700px) {
    .carousel {
        width: 50rem;
        height: 40rem;
        margin: auto;
        padding: 10px;

        .carousel-caption {
            font-size: 1em;
            width: 100%;
            height: 150px;
            right: 0;
            left: 0;
            bottom: 0;
        }

        .carousel-indicators {
            margin-bottom: 1rem;
        }

        .tamaño-img {
            width: 30rem;
            height: 30rem;
            margin-left: 100px;
        }
    }
}

@media screen and (max-width:500px) {

    .carousel {
        width: 40rem;
        height: 30rem;
        margin: auto;
        padding: 10px;

        .carousel-caption {
            font-size: 1em;
            width: 100%;
            height: 120px;
            right: 0;
            left: 0;
            bottom: 0;
        }

        .carousel-indicators {
            margin-bottom: 1rem;
        }

        .tamaño-img {
            margin-left: 30px;
        }
    }
}

@media screen and (max-width:440px) {

    .fotos-herramientas {
        img {
            width: 330px;
            height: 215px;
            padding-right: 40px;
        }
    }

    .tamaño-img {
        margin-left: 30px;
    }
}

@media screen and (max-width:400px) {
    .carousel {
        width: 30rem;
        height: 25rem;
        margin: auto;
        padding: 10px;

        .carousel-caption {
            font-size: 0.9em;
            width: 100%;
            height: 100px;
            right: 0;
            left: 0;
            bottom: 0;

            p {
                display: flex;
                justify-content: center;
            }

            .h5,
            h5 {
                font-size: 1.2em;
                margin-bottom: 20px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .carousel-indicators {
            margin: auto;
            width: 60px;
        }

        .tamaño-img {
            width: 25rem;
            height: 25rem;
            margin-left: 0;
        }
    }
}