/* ----------PÁGINA "Nuestras Herramientas/our-tools"---------- */


.container {
    overflow: hidden;

    .tools-1 {
        width: 100%;
        height: 900px;
        padding-top: 90px;
        padding-bottom: 90px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 90px;
        font-family: 'Poppins', sans-serif;

        .aerografo {

            h3 {
                font-size: 9em;
                font-weight: 800;
                color: $amarillo;
            }

            p {
                font-size: 3.5em;
                font-weight: 500;
                letter-spacing: 25px;
                padding-left: 13px;
            }

            .accordion {
                width: 540px;
                padding-top: 30px;

                .accordion-button {
                    font-size: 20px;
                    font-weight: 500;
                    color: $negro;
                }

                .accordion-body {
                    font-size: 15px;
                }
            }

            .aerografo-img {
                padding-top: 120px;


                img {

                    width: 186px;
                    border-radius: 10px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .aerografo-ilus {
            width: 470px;
            height: 300px;
            transition: 0.3s ease-in-out;

            &:hover {
                filter: opacity(0.9);
                transform: scale(1.09);
            }
        }
    }


    .tools-2 {
        height: 900px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 160px;
        font-family: 'Poppins', sans-serif;

        .fotografia {
            h3 {
                font-size: 9em;
                font-weight: 800;
                color: $violeta;
            }

            p {
                font-size: 3.5em;
                font-weight: 500;
                letter-spacing: 25px;
                padding-left: 13px;
            }

            .accordion {
                width: 540px;
                padding-top: 30px;

                .accordion-button {
                    font-size: 20px;
                    font-weight: 500;
                    color: $negro;
                }

                .accordion-body {
                    font-size: 15px;
                }
            }

            .fotografia-img {

                padding-top: 120px;

                img {
                    width: 186px;
                    border-radius: 10px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .fotografia-ilus {
            width: 470px;
            height: 300px;

            transition: 0.3s ease-in-out;

            &:hover {
                filter: opacity(0.9);
                transform: scale(1.09);
            }
        }
    }

    .tools-3 {
        align-items: left;
        height: 900px;
        display: flex;
        flex-direction: row;
        gap: 90px;
        font-family: 'Poppins', sans-serif;

        .impresora {

            h3 {
                font-size: 9em;
                font-weight: 800;
                color: $rosa;
            }

            p {
                font-size: 3.5em;
                font-weight: 500;
                letter-spacing: 25px;
                padding-left: 13px;
            }

            .accordion {
                width: 540px;
                padding-top: 30px;

                .accordion-button {
                    font-size: 20px;
                    font-weight: 500;
                    color: $negro;
                }

                .accordion-body {
                    font-size: 15px;
                }
            }

            .impresora-img {
                padding-top: 120px;

                img {
                    width: 186px;
                    border-radius: 10px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .impresora-ilus {
            width: 580px;
            height: 300px;
            transition: 0.3s ease-in-out;

            &:hover {
                filter: opacity(0.9);
                transform: scale(1.09);
            }
        }
    }

    .tools-4 {
        height: 900px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        gap: 160px;
        font-family: 'Poppins', sans-serif;

        .modelado {
            h3 {
                font-size: 9em;
                font-weight: 800;
                color: $amarillo;
            }

            p {
                font-size: 3.5em;
                font-weight: 500;
                letter-spacing: 25px;
                padding-left: 13px;
            }

            .accordion {
                width: 540px;
                padding-top: 30px;

                .accordion-button {
                    font-size: 20px;
                    font-weight: 500;
                    color: $negro;
                }

                .accordion-body {
                    font-size: 15px;
                }
            }

            .modelado-img {

                padding-top: 120px;

                img {
                    width: 186px;
                    border-radius: 10px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .modelado-ilus {
            width: 800px;
            height: 300px;

            transition: 0.3s ease-in-out;

            &:hover {
                filter: opacity(0.9);
                transform: scale(1.09);
            }
        }
    }
}


/* Media */

@media screen and (max-width:1091px) {

    .container {
        max-width: 800px;
        margin: 0 auto;

        .tools-1 {
            gap: 20px;

            .aerografo {

                h3 {
                    font-size: 7em;
                }

                p {
                    font-size: 2em;
                    letter-spacing: 20px;
                }

                .accordion {
                    .accordion-button {
                        font-size: 15px;
                    }

                    .accordion-body {
                        font-size: 12px;
                    }
                }

                .aerografo-img {
                    padding-top: 50px;

                    img {
                        width: 160px;
                    }
                }
            }
        }

        .tools-2 {
            gap: 20px;

            .fotografia {
                text-align: right;

                h3 {
                    font-size: 7em;

                }

                p {
                    font-size: 2em;
                    letter-spacing: 20px;
                }

                .accordion {

                    .accordion-button {
                        font-size: 15px;
                    }

                    .accordion-body {
                        font-size: 12px;
                    }
                }

                .fotografia-img {
                    img {
                        width: 160px;
                    }
                }
            }
        }

        .tools-3 {
            gap: 20px;

            .impresora {

                h3 {
                    font-size: 7em;

                }

                p {
                    font-size: 2em;
                    letter-spacing: 20px;
                }

                .accordion {
                    .accordion-button {
                        font-size: 15px;
                    }

                    .accordion-body {
                        font-size: 12px;
                    }
                }

                .impresora-img {
                    img {
                        width: 160px;
                    }
                }
            }
        }

        .tools-4 {
            gap: 25px;

            .modelado {
                text-align: right;

                h3 {
                    font-size: 7em;
                }

                p {
                    font-size: 2em;
                    letter-spacing: 20px;
                }

                .accordion {
                    .accordion-button {
                        font-size: 15px;
                    }

                    .accordion-body {
                        font-size: 12px;
                    }
                }

                .modelado-img {
                    img {
                        width: 160px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:800px) {

    .container {
        max-width: 700px;
        margin: 0 auto;

        .tools-1 {
            .aerografo {

                h3 {
                    font-size: 6em;
                }

                .accordion {
                    width: 400px;

                    .accordion-button {
                        font-size: 15px;
                    }

                    .accordion-body {
                        font-size: 12px;
                    }
                }

                .aerografo-img {
                    padding-top: 60px;

                    img {
                        width: 150px;
                    }
                }
            }
        }

        .tools-2 {
            .fotografia {

                h3 {
                    font-size: 6em;
                }

                .accordion {
                    width: 400px;
                }

                .fotografia-img {
                    img {
                        width: 150px;
                    }
                }
            }
        }

        .tools-3 {
            .impresora {

                h3 {
                    font-size: 6em;

                }

                .accordion {
                    width: 400px;
                }

                .impresora-img {
                    img {
                        width: 150px;
                    }
                }
            }
        }

        .tools-4 {
            .modelado {

                h3 {
                    font-size: 6em;
                }

                .accordion {
                    width: 400px;
                }

                .modelado-img {
                    img {
                        width: 150px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width:700px) {

    .container {
        max-width: 600px;
        margin: 0 auto;

        .tools-1 {
            .aerografo {

                h3 {
                    font-size: 5.5em;
                }

                p {
                    font-size: 1.2em;
                    letter-spacing: 20px;
                }

                .accordion {
                    width: 350px;

                    .accordion-button {
                        font-size: 13px;
                    }

                    .accordion-body {
                        font-size: 10px;
                    }
                }
            }
        }

        .tools-2 {
            .fotografia {

                h3 {
                    font-size: 5.5em;
                }

                p {
                    font-size: 1.2em;
                    letter-spacing: 20px;
                }

                .accordion {
                    width: 350px;

                    .accordion-button {
                        font-size: 13px;
                    }

                    .accordion-body {
                        font-size: 10px;
                    }
                }
            }
        }

        .tools-3 {
            .impresora {

                h3 {
                    font-size: 5.5em;
                }

                p {
                    font-size: 1.2em;
                    letter-spacing: 20px;
                }

                .accordion {
                    width: 350px;

                    .accordion-button {
                        font-size: 13px;
                    }

                    .accordion-body {
                        font-size: 10px;
                    }
                }
            }
        }

        .tools-4 {
            .modelado {

                h3 {
                    font-size: 5.5em;
                }

                p {
                    font-size: 1.2em;
                    letter-spacing: 20px;
                }

                .accordion {
                    width: 350px;

                    .accordion-button {
                        font-size: 13px;
                    }

                    .accordion-body {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:540px) {

    .container {
        max-width: 400px;
        margin: 0 auto;

        .tools-1 {
            .aerografo {

                h3 {
                    font-size: 6em;
                }

                p {
                    font-size: 1.5em;
                }
            }

            .aerografo-ilus {
                img {
                    display: none;
                }
            }
        }

        .tools-2 {
            .fotografia {

                p {
                    font-size: 1.5em;
                }
            }

            .fotografia-ilus {
                img {
                    display: none;
                }
            }
        }

        .tools-3 {
            .impresora {

                p {
                    font-size: 1.5em;
                }
            }

            .impresora-ilus {
                img {
                    display: none;
                }
            }
        }

        .tools-4 {
            .modelado {

                p {
                    font-size: 1.5em;
                }
            }

            .modelado-ilus {
                img {
                    display: none;
                }
            }
        }
    }
}



@media screen and (max-width:400px) {
    .container {
        max-width: 300px;

        .tools-1 {
            height: 750px;

            .aerografo {

                h3 {
                    font-size: 4em;
                    padding-left: 20px;
                }

                p {
                    font-size: 1em;
                    letter-spacing: 14px;
                    padding-left: 30px;
                }

                .accordion {
                    width: 250px;

                    .accordion-button {
                        font-size: 10px;
                    }

                    .accordion-body {
                        font-size: 8px;
                    }
                }

                .aerografo-img {
                    img {
                        width: 134px;
                    }
                }
            }
        }

        .tools-2 {
            height: 750px;

            .fotografia {

                h3 {
                    font-size: 4em;
                    padding-right: 20px;
                }

                p {
                    font-size: 1em;
                    letter-spacing: 14px;
                    padding-right: 30px;
                }

                .accordion {
                    width: 250px;

                    .accordion-button {
                        font-size: 10px;
                    }

                    .accordion-body {
                        font-size: 8px;
                    }
                }

                .fotografia-img {

                    img {
                        width: 134px;
                    }
                }
            }
        }

        .tools-3 {
            height: 750px;

            .impresora {

                h3 {
                    font-size: 4em;
                    padding-left: 20px;
                }

                p {
                    font-size: 1em;
                    letter-spacing: 14px;
                    padding-left: 30px;
                }

                .accordion {
                    width: 250px;

                    .accordion-button {
                        font-size: 10px;
                    }

                    .accordion-body {
                        font-size: 8px;
                    }
                }

                .impresora-img {

                    img {
                        width: 134px;
                    }
                }
            }
        }

        .tools-4 {
            height: 750px;

            .modelado {

                h3 {
                    font-size: 4em;
                    padding-right: 20px;
                }

                p {
                    font-size: 1em;
                    letter-spacing: 14px;
                    padding-right: 30px;
                }

                .accordion {
                    width: 250px;

                    .accordion-button {
                        font-size: 10px;
                    }

                    .accordion-body {
                        font-size: 8px;
                    }
                }

                .modelado-img {

                    img {
                        width: 134px;
                    }
                }
            }
        }
    }
}